/*************
 * separator *
 *************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkSeparator.
*/

separator.vertical {
  border-left: 1px solid @border_shade;
  border-right: 1px solid @border_bright; }
separator.horizontal {
  border-top: 1px solid @border_shade;
  border-bottom: 1px solid @border_bright; }

