/*************
 * Titlebars *
 *************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the titlebar.
*/

.titlebar button {
  margin: 0px;
  padding: 0px;
  min-height: 16px;
  min-width: 16px; }
  .titlebar button label  {
    padding-left: 4px;
    padding-right: 4px; }
  /* The following button definitions allows us to have slim buttons on
   * headerbars with no big elements while still maintaining a good
   * looking headerbar with big elements */
  .titlebar button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 16px;
    min-width: 16px; }

window.ssd.maximized headerbar,
window.ssd.maximized .titlebar {
  border: 0px;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  margin: 0px; }

.maximized > decoration,
window.maximized,
window.tiled {
  border: 0px;
  box-shadow: none;
  margin: 0px; }

.tiled headerbar,
.maximized headerbar,
.tiled .titlebar,
.maximized .titlebar {
  border: 0px;
  box-shadow: none;
  border-radius: 0; }

/* Remove the frame seen in Lireoffice. */
window > grid > grid > scrolledwindow {
  border: none;
  box-shadow: none;
  color: @font_color;
  text-shadow: none; }

headerbar.titlebar {
  border-top: 1px solid @border_shade;
  box-shadow: inset 0px 1px @border_bright; }
  paned.titlebar headerbar,
  paned.titlebar .titlebar {
    border-top: none;
    box-shadow: none; }
