/*************
 * assistant *
 *************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkAssistant.
*/

assistant .sidebar {
  padding: 4px;
  border: 2px solid @border_dark;
  border-image: url("assets/frame_inset.png");
  border-image-slice: 2 2 2 2;
  border-radius: 0px;
  background-color: @bg_bright;
  box-shadow: none; }
  assistant .sidebar label {
    color: @text_color_light; }
    assistant .sidebar label.highlight {
      color: @text_color; }
