/*******************
 * check and radio *
 *******************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the check and radio.
*/

check,
radio {
  min-width: 16px;
  min-height: 16px; }

/* disabling focus outline because it looks bad around the whole element... */
radiobutton:focus,
checkbutton:focus {
  outline: 0px;
  outline: none; }

/* ...instead we are going to enable it around the label */
/* but outline doesen't work inside a label! so we use borders. */
radiobutton label,
checkbutton label{
  padding-left: 4px;
  padding-right: 4px;
  border: 1px dotted alpha(@border_dark,0); }

radiobutton:focus label,
checkbutton:focus label{
  border: 1px dotted @border_dark; }

check:checked {
  -gtk-icon-source: url("assets/checkbox-checked.png");
  -gtk-icon-transform: none;
  background: none; }

check:not(:checked) {
  -gtk-icon-source: url("assets/checkbox-unchecked.png");
  -gtk-icon-transform: none;
  background: none; }

check:indeterminate {
  -gtk-icon-source: url("assets/checkbox-mixed.png");
  background: none; }

check:disabled:checked {
  -gtk-icon-source: url("assets/checkbox-checked-insensitive.png");
  background: none; }

check:disabled:not(checked) {
  -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
  background: none; }

check:indeterminate:disabled {
  -gtk-icon-source: url("assets/checkbox-mixed-insensitive.png");
  background: none; }

radio:checked {
  -gtk-icon-source: url("assets/radio-selected.png");
  background: none }

radio:not(:checked) {
  -gtk-icon-source: url("assets/radio-unselected.png");
  background: none }

radio:indeterminate {
  -gtk-icon-source: url("assets/radio-mixed.png");
  background: none }

radio:disabled:checked {
  -gtk-icon-source: url("assets/radio-selected-insensitive.png");
  background: none }

radio:disabled:not(checked) {
  -gtk-icon-source: url("assets/radio-unselected-insensitive.png");
  background: none }

radio:indeterminate:disabled {
  -gtk-icon-source: url("assets/radio-mixed-insensitive.png");
  background: none }
