/**************
 * Headerbars *
 * ************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkHeaderbar.
*/

/* This applies to GTK Client Side Decorations (CSD) */

headerbar,
.titlebar {
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: @bg_color;
  background-image: none;
  text-shadow: none; }
  headerbar entry {
    margin: 3px;
    padding-top: 1px;
    padding-bottom: 1px; }
  headerbar separator {
    margin-right: 3px;
    border-left-width: 1px;
    border-style: solid; }
  headerbar scale {
    margin-top: 4px;
    margin-bottom: -6px; }
  headerbar .titlebutton * {
    -gtk-icon-style: requested; }
