/* NOTES to contributors:
 * use 4 spaces indents, and keep code ALIGNED and ORDERED */

/* default */
* {
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkMenu-horizontal-offset: 5px;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 8;
    -GtkTreeView-expander-size: 8;
    -GtkWindow-resize-grip-height: 0;
    -GtkWindow-resize-grip-width: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    -GtkTreeView-horizontal-separator: 1;
    -GtkTreeView-grid-line-width: 1;
    -GtkTreeView-grid-line-pattern: '';
    -GtkTreeView-tree-line-width: 1;
    -GtkTreeView-tree-line-pattern: '';

    background-clip: padding-box;

    outline-width: 1px;
    outline-offset: 0px;
    outline-color: #808080;
    outline-style: solid;

    /* inherit colors from parent */
    color: inherit;
    background-color: inherit;
    min-width: 8px;
    min-height: 8px;

}

.background {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

*:selected,
*:selected:focus,
selection {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

flowbox rubberband, treeview.view rubberband, .content-view rubberband,
.rubberband, rubberband {
  border: 1px dotted white;
  background-color: transparent;
}

*:disabled,
*:disabled:disabled {
    color: #808080;
    text-shadow: 1px 1px 0 white;
    -gtk-icon-effect: dim;
}

*:focus {
    outline: 1px dotted black;
    -gtk-outline-radius: 0;
    outline-offset: -3px;
}

.gtkstyle-fallback {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.gtkstyle-fallback:hover {
    background-color: shade(@theme_bg_color, 1.1);
    color: @theme_fg_color;
}

.gtkstyle-fallback:active {
    background-color: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}

.gtkstyle-fallback:disabled {
    background-color: shade(shade(@theme_bg_color, 0.95), 1.05);
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.gtkstyle-fallback:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

image,
image:disabled,
label,
label:disabled,
box,
box:disabled,
grid,
grid:disabled {
    background-color: transparent;
    min-width: 0px;
    min-height: 0px;
}

stepper, .stepper {
    min-width: 16px;
    min-height: 16px;
    margin: 0px;
}

slider, .slider {
    min-width: 10px;
    background-color: @bg_color;
}

frame, .frame {
    background-color: transparent;
    padding: 0px;
}

arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 12px;
  min-width: 12px; 
  color: alpha(currentColor, 0.7);
}

arrow.right {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
  -gtk-icon-transform: rotate(90deg);
  min-height: 12px;
  min-width: 12px; 
  color: alpha(currentColor, 0.7);
}

arrow.left {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
  -gtk-icon-transform: rotate(-90deg);
  min-height: 12px;
  min-width: 12px; 
  color: alpha(currentColor, 0.7);
}

/*****************
 * Basic Effects *
 *****************/

/* Sunken flat 1px */
button:checked,
scrollbar button:active {
  border-style: solid;
  border-width: 1px;
  border-color: shade(white,0.5);
  border-radius: 0;
  background-color: @bg_color;
  box-shadow: none;
}

/* Sunken 1px */
levelbar trough,
progressbar trough,
menubar > menuitem:hover,
menu > separator,
box > separator {
    border-style: solid;
    border-width: 1px;
    border-color: shade(white,0.5) shade(white,0.9) shade(white,0.9) shade(white,0.5);
    border-radius: 0;
}

/* Sunken 2px */
colorswatch:selected,
calendar.view,
frame,
scrolledwindow,
entry,
slider,
switch,
.sidebar list,
scale trough,
combobox button:checked,
combobox > window > menu,
button:selected, button:active,
check, radio {
    border-style: solid;
    border-width: 1px;
    border-color: shade(white,0.5) shade(white,0.9) shade(white,0.9) shade(white,0.5);
    box-shadow: inset 1px 1px shade(white,0.2),
                inset -1px -1px shade(white,0.8);
    border-radius: 0;
}

/* Raised 1px */
menubar,
toolbar,
stepper {
    border-style: solid;
    border-width: 1px;
    border-color: shade(white,0.9) shade(white,0.5) shade(white,0.5) shade(white,0.9);
    box-shadow: none;
    border-radius: 0;
}

/* Raised 2px */
colorswatch,
decoration,
popover,
combobox > window,
calendar.header,
button, .button,
slider,
notebook > header > tabs > tab,
notebook,
notebook.frame {
    border-style: solid;
    border-width: 1px;
    border-color: shade(@bg_color,1.0) shade(white,0.2) shade(white,0.2) shade(@bg_color,1.0);
    box-shadow: inset 1px 1px shade(white,1.0),
                inset -1px -1px shade(white,0.5);
    border-radius: 0;
}

/* Makes a checkerboard */
button:selected, button:active, button:checked,
slider:disabled,
trough,
paned separator {
    background-color: white;
    background-image: linear-gradient(45deg, #c0c0c0 25%, transparent 25%, transparent 75%, #c0c0c0 75%, #c0c0c0), linear-gradient(45deg, #c0c0c0 25%, transparent 25%, transparent 75%, #c0c0c0 75%, black);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}


/**********
 * button *
 **********/

button, .button {
    padding: 4px;
    margin: 2px;
    background-color: @bg_color;
}

/* Button pressing contents shifting  */
button:checked,
button:active {
 padding: 5px 3px 3px 5px;
}

/* Slim  buttons */
switch slider,
scrollbar button,
scrollbar slider,
combobox button,
spinbutton button,
header button {
    margin: 0px;
    padding: 2px;
    background-color: @bg_color;
}

/* Buton pressing contents shifting is wonky with scrollbars */
scrollbar button:checked,
scrollbar button:active,
scrollbar slider:checked,
scrollbar slider:active {
   padding: 2px;
}

switch slider:active,
switch slider:checked,
combobox button:checked,
combobox button:active,
spinbutton button:checked,
spinbutton button:active,
header button:checked,
header button:active {
   padding: 3px 1px 1px 3px;
}


/*******************
 * check and radio *
 *******************/

/* disabling focus outline because it looks bad around the whole element... */
radiobutton:focus,
checkbutton:focus {
 outline: 0px
}

/* ...instead we are going to enable it around the label */
/* but outline doesen't work inside a label! so we use borders */
radiobutton label,
checkbutton label{
 border: 1px dotted alpha(black,0);
}

radiobutton:focus label,
checkbutton:focus label{
 border: 1px dotted black;
}

check,
radio {
    min-width: 12px;
    min-height: 12px;
    background-color: @base_color;
}

check:disabled,
radio:disabled {
    background-color: @bg_color;
}

radio {
    border-radius: 8px;
}

check:checked {
    -gtk-icon-source: url("assets/menucheck.png");
    -gtk-icon-transform: scale(0.5);
}

radio:checked {
    -gtk-icon-source: url("assets/menuoption.png");
    -gtk-icon-transform: scale(0.5);
}

check:indeterminate,
radio:indeterminate {
    -gtk-icon-source: url("assets/menuindeterminate.png");
    -gtk-icon-transform: scale(0.5);
}


/****************************
 * viewport, iconview, view *
 ****************************/

viewport,
viewport list,
iconview,
textview,
view, .view {
    border-width: 0px;
    background-color: @base_color;
    color: @theme_text_color;
}

view:disabled,
view:disabled:disabled {
    background-color: @bg_color;
    color: @fg_color;
}

view:selected,
view:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

iconview {
    -GdMainIconView-icon-size: 48;
}

/*********************
 * list cell and row *
 *********************/

cell, .cell,
row, .row {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: mix(@fg_color,@base_color,0.7);
}

cell:selected,
cell:selected:focus,
row:selected,
row:selected:hover,
row:selected:focus {
    background-color: @theme_selected_bg_color;
    outline-width: 1px;
    outline-offset: 0px;
}

/* a bit of a hack to get the cells/rows borders to match with empty space on the list borders */
list {
    box-shadow: inset 1px 1px shade(@base_color,0.7);
}

list > separator {
    border: 0px;
	min-height: 0px;
	min-width: 0px;
}


/*************
 * separator *
 *************/

separator {
    border: 0px;
	min-width: 0px;
	min-height: 0px;
}

/* MUST KEEP min-width and min-height above zero, or else a default value of 4px is used! */
paned separator {
   min-width: 1px;
   min-height: 1px;
   -gtk-icon-source: none;
}

paned.vertical > separator {
   padding-top: 1px;
   padding-bottom: 1px;
}

paned.horizontal > separator {
   padding-left: 1px;
   padding-right: 1px;
}

toolbar separator {
   margin: 0px 2px 0px 2px;
}


/************
 * treeview *
 ************/

treeview {
    -GtkTreeView-vertical-separator: 0;
    outline-width: 1px;
    outline-offset: 1px;
}

treeview.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    border-radius: 0;
}

/* treeview misbehaves if we only define selection/focus globally */
treeview:selected,
treeview:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

treeview entry {
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
}


/*********
 * entry *
 *********/

combobox > window > menu,
entry {
    padding: 2px;
    background-color: @base_color;
    color: @fg_color;
}

entry:disabled {
    background-color: @bg_color;
    color: @fg_color;
    background-image: none;
}


/************
 * combobox *
 ************/

combobox > box > button arrow,
combobox > box > button {
 min-width: 16px;
 min-height: 16px;
}

/*************
 * scrollbar *
 *************/

scrollbar {
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
    border-width: 0px;
}

/* where is the junction? in scrollablewindow? doesent exists anymore? */
scrollbar junction {
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  border-radius: 0;
  background-color: #c0c0c0;
  box-shadow: none
}

scrollbar.vertical slider {
	min-height: 40px;
    min-width: 10px;
}
scrollbar.horizontal slider {
	min-width: 40px;
    min-height: 10px;
}

scrollbar button {
	min-width: 10px;
	min-height: 10px;
}

scrollbar.vertical button.up {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
scrollbar.vertical button.down {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
scrollbar.horizontal button.up {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
  -gtk-icon-transform: rotate(-90deg);
}
scrollbar.horizontal button.down {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
  -gtk-icon-transform: rotate(90deg);
}


/*************
 * assistant *
 *************/

/* FINDME */
assistant .sidebar .highlight
assistant .sidebar label.highlight {
    font-weight: bold;
}

assistant .sidebar {
    padding: 4px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-right-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_bg_color;
    color: mix(@theme_fg_color, @theme_bg_color, 0.1);
}


/****************
 * drawing area *
 ****************/

/* FINDME */
GtkDrawingArea {
    background-color: @theme_base_color;
}

GtkDrawingArea:disabled {
    background-color: shade(@theme_base_color, 0.9);
}


/***********
 * gtkhtml *
 ***********/

/* FINDME */
GtkHTML {
    background-color: @theme_base_color;
    color: @theme_text_color;
}


/***********
* calendar *
************/

calendar {
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    outline-offset: 0px;
}

calendar.header {
    background-color: @bg_color;
}


/************
 * expander *
 ************/

expander arrow {
 min-width: 16px;
 min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:checked {
   -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}


/*******************
 * scrolled window *
 *******************/

/* avoid double borders when a viewport is
 * packed into a GtkScrolledWindow */
scrolledwindow viewport {
    border-style: none;
}

/* nautilus seems to have a special transparent icon canvas, since scrolledwindow is also transparent
  the default background color is shown, lets paint it with the base color */
.nautilus-window overlay > scrolledwindow {
 background-color: @base_color;
}


/************
 * iconview *
 ************/

iconview.view.cell {
    border: 0px solid black;
    border-radius: 0px;
}


/***********
 * infobar *
 ***********/

infobar {
    padding:2px;
    border: 1px dotted black;
    border-radius: 1px;
}

/* The Info bar uses the colors and button layout from clippy! */

.info {
    background-color: @info_bg_color;
    color: @info_fg_color;
}

.warning {
    background-color:  @warning_bg_color;
    color: @warning_fg_color;
}

.question {
    background-color:  @question_bg_color;
    color: @question_fg_color;
}

.error {
    background-color:  @error_bg_color;
    color: @error_fg_color;
}


/*******************
 * symbolic images *
 *******************/

/* FINDME */
.image {
    color: alpha(currentColor, 0.5);
}

.image:hover {
    color: alpha(currentColor, 0.9);
}

.image:selected,
.image:selected:hover {
    color: @theme_selected_fg_color;
}

.view.image,
.view.image:hover {
    color: alpha(currentColor, 0.9);
}

.view.image:selected,
.view.image:selected:hover {
    color: @theme_selected_fg_color;
}


/***********
 * menubar *
 ***********/

menubar, .menubar {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    -GtkWidget-window-dragging: true;
}


/***************
 * menubaritem *
 ***************/
/* can't track proper hovering of the menubaritem, only activation for now */

menubar > menuitem {
    padding: 0px 4px;
    border: 1px solid transparent;
    margin: 1px;
}


/************
 * menuitem *
 ************/

menu menuitem {
    padding: 2px;
    border-width: 0;
}


menu menuitem:active,
menu menuitem:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

menuitem > check,
menuitem > radio,
menuitem > label {
    margin-left: 2px;
    margin-right: 2px;
}

menuitem .entry {
    border-color: shade(@bg_color, 0.6);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

menuitem .entry:active,
menuitem .entry:focus {
    border-color: shade(@selected_bg_color, 0.6);
}

menuitem > box > image {
    padding-right: 4px;
}


/************
 * notebook *
 ************/

/* Must paint over the notebook.frame, so that we cut the bevel on the header side,
  cant do it any other way... */
notebook {
  padding-left: 0px;
  padding-right: 0px;
  margin: 4px;
}

notebook > stack{
  margin: 3px;
}

notebook > header {
    background-color: @bg_color;
    margin: -1px; 
}

notebook > header > tabs {
 margin-left: 2px;
 margin-right: 2px;
}

notebook > header > tabs > tab label {
  padding-left: 5px;
  padding-right: 5px;
}

notebook > header > tabs > tab {
  padding-top: 4px;
  padding-bottom: 4px;
}
notebook > header > tabs > tab:checked {
  padding-top: 5px;
  padding-bottom: 7px;
}

notebook > header.top > tabs {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: alpha(@bg_color,0.0);
    box-shadow: inset 0px 0px shade(white,0.5),
                inset 0px -1px shade(white,1.0);
}
/* raised 2px EXCEPTION */
notebook > header.top > tabs > tab {
    border-bottom: 0px;
    box-shadow: inset 1px 1px shade(white,1.0),
                inset -1px 0px shade(white,0.5);

    margin-top: 2px;
    margin-bottom: 1px;
    border-top-left-radius: 6px 2px;
    border-top-right-radius: 2px 6px;

}
notebook > header.top > tabs > tab:checked {
    margin-top: 0px;
    margin-bottom: 0px;

	margin-left: -3px;
	margin-right: -3px;
}
notebook > header.top > tabs > tab:checked:first-child {
    margin-left: -1px;
    margin-right: -3px;
}




notebook > header.left > tabs > tab {
    border-right: 0px;
    box-shadow: inset 1px 1px shade(white,1.0),
                inset 0px -1px shade(white,0.5);

    padding: 3px;
    margin-left: 3px;
}

notebook > header.bottom > tabs > tab {
    border-top: 0px;
    box-shadow: inset 1px 0px shade(white,1.0),
                inset -1px -1px shade(white,0.5);

    padding: 3px;
    margin-bottom: 3px;
}

notebook > header.right > tabs > tab {
    border-left: 0px;
    box-shadow: inset 0px 1px shade(white,1.0),
                inset -1px -1px shade(white,0.5);

    padding: 3px;
    margin-right: 3px;
}

/* get the outline into the label... */
notebook tab {
  outline: 1px dotted black;
  outline-offset: -6px;
}

/* nautilus button still wonky... */
notebook header tabs button {
  margin-left: 4px;
  margin-right: 5px;
}


/***********************************
 * progressbar, levelbar and scale *
 ***********************************/

levelbar,
progressbar {
    padding: 2px;
}

levelbar trough,
progressbar trough {
	background-color: @bg_color;
}

levelbar.horizontal trough,
progressbar.horizontal trough,
progressbar.horizontal progress {
    min-height: 14px;
}

levelbar.vertical trough,
progressbar.vertical trough,
progressbar.vertical progress {
    min-width: 14px;
}

levelbar block,
progressbar progress {
    background-image: none;
	background-color: @selected_bg_color; 
}

levelbar block.empty {
	background-color: @bg_color;
}
 
levelbar.vertical.discrete block {
   margin-top: 2px;
}

levelbar.horizontal.discrete block {
   margin-right: 2px;
}

scale.vertical {
    padding: 1px 7px 1px 7px;
}

scale.horizontal {
    padding: 9px 1px 9px 1px;
}

scale trough {
    min-width: 1px;
    min-height: 1px;
}

scale highlight,
scale empty {
    min-width: 1px;
    min-height: 1px;
    background-color: transparent;
}

scale.vertical slider {
    min-width: 1px;
    min-height: 10px;
    margin: 0px -12px 0px -12px;
}
scale.horizontal slider {
    min-width: 10px;
    min-height: 1px;
    margin: -12px 0px -12px 0px;
}

/* there might be other cases where the inside is filled by other widgets */
scale.color contents trough {
  min-height: 8px;
  min-width: 8px;
}

/* outline inside the trough node is terrible, can't put it anywhere else... */
scale *:focus {
    outline: 0px;
}


/***********
 * sidebar *
 ***********/

.sidebar list {
  margin: 3px;
  padding: 1px;
}


/**************
 * spinbutton *
 **************/

spinbutton.horizontal button {
  margin-top: 2px;
  margin-bottom: 2px;
}

spinbutton.horizontal entry {
  min-width: 80px;
  min-height: 12px;
  margin-right: -46px;
}

spinbutton.vertical button {
  margin-left: 0px;
  margin-right: 0px;
}

spinbutton.vertical entry {
  min-width: 12px;
}

/**********
 * switch *
 **********/

switch {
 background-color: @base_color;
}

switch slider {
  margin: 1px;
  min-width: 18px;
  min-height: 12px;
}


/***************
 * Colorswatch *
 ***************/

colorswatch {
    background-color: transparent;
    background-clip: border-box;
    padding: 2px;
}

colorswatch:selected overlay {
  background-color: transparent;
}

colorswatch:selected {
  background-color: transparent;
}


/**************
 * header-bar *
 **************/

.header-bar {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent; 
    background-color: @bg_color;
    background-image: none;
    color: @titlebar_fg_color;
}

.header-bar .button.text-button {
    padding: 2px;
}

.header-bar .button.image-button {
    padding: 2px;
}

.header-bar .title {
    font-weight: bold;
    padding: 0 12px;
}

.header-bar .subtitle {
    font-size: smaller;
    padding: 0 12px;
}

/*
.header-bar GtkComboBox,
.header-bar .button {
  color: red;
}


.header-bar .button:active:hover,
.header-bar .button:active {
    outline-width 1px;
    outline-offset 1px;

    padding: 4px;
    padding-top: 6px;
    padding-left: 6px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
    box-shadow: inset 1px 1px 0px 0px #808080;
    background-color: #c0c0c0;
    background-image: none;
}


.header-bar .button:focus,
.header-bar .button:hover:focus,
.header-bar .button:active:focus,
.header-bar .button:active:hover:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
} 

.header-bar .button:disabled {
    border-color: shade(@titlebar_bg_color, 0.85);
    background-color: shade(@titlebar_bg_color, 0.9);
    background-image: none;
}

.header-bar .button:active *:disabled {
    border-color: shade(@titlebar_bg_color, 0.75);
    background-color: shade(@titlebar_bg_color, 0.80);
    background-image: none;
}

.header-bar .entry {
    border-width: 1px;
    border-color: shade(@bg_color, 0.6);
}

.header-bar .entry:active,
.header-bar .entry:focus {
    border-width: 1px;
    border-color: shade(@selected_bg_color, 0.6);
} */


/***********
 * toolbar *
 ***********/

toolbar, .toolbar {
    border-left: 0px;
    border-right: 0px;
    padding: 1px;

}

.toolbar .button {
    padding: 3px;

}

.toolbar .button.text-button {
    /* padding: 2px 4px;*/
}

.toolbar .button.image-button {
    /*padding: 4px 3px 3px 4px; */
}

/*
.toolbar:disabled {
    background-color: shade(@toolbar_bg_color, 0.9);
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
}
*/
/* menubar toolbars */
.toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}

/*******************
 * primary-toolbar *
 *******************/
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;

    padding: 4px;
    background-color: @toolbar_bg_color;
    background-image: none;
    color: @toolbar_fg_color;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button {
    padding: 1px;
    background-color: transparent;
    background-image: none;
    color: @toolbar_fg_color;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.toolbar GtkComboBox,
.toolbar .button {
    background-image: none;
}



.primary-toolbar .button:active,
.toolbar .button:active {
   /* background-image: none; */
}

.primary-toolbar .button:checked {
    background-image: none;
}

.primary-toolbar .button:active:hover,
.toolbar .button:active:hover {
    /* background-color: none; */
}

.primary-toolbar .button:focus,
.primary-toolbar .button:hover:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar .button:active:hover:focus,
.toolbar .button:focus,
.toolbar .button:hover:focus,
.toolbar .button:active:focus,
.toolbar .button:active:hover:focus {
    border-color: transparent;
}

.primary-toolbar .button:disabled,
.toolbar .button:disabled {
    background-image: none;
}

.primary-toolbar .button:active *:disabled,
.toolbar .button:active *:disabled {
    border-color: transparent;
    background-image: none;
}

.primary-toolbar .entry,
.toolbar .entry {
    border-width: 1px;
    border-color: #c0c0c0;
}

.primary-toolbar .entry:active,
.primary-toolbar .entry:focus,
.toolbar .entry:active,
.toolbar .entry:focus {
    border-width: 1px;
    border-color: #c0c0c0;
}

/* inline-toolbar 
.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
}

.inline-toolbar.toolbar:last-child {
    border-width: 1px;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

.inline-toolbar.toolbar .button {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    color: @theme_fg_color;
}

.inline-toolbar.toolbar .button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.10);
    background-image: none;
}

.inline-toolbar.toolbar .button:active {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
}

.inline-toolbar.toolbar .button:active:hover {
    border-color: shade(@theme_bg_color, 0.7);
}

.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button:hover:focus,
.inline-toolbar.toolbar .button:active:focus,
.inline-toolbar.toolbar .button:active:hover:focus {
    border-color: shade(@theme_bg_color, 0.7);
}

.inline-toolbar.toolbar .button:disabled,
.inline-toolbar.toolbar GtkToolButton .button:disabled {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

.inline-toolbar.toolbar .button:active *:disabled
.inline-toolbar.toolbar GtkToolButton .button:active *:disabled {
    border-color: shade(@theme_bg_color, 0.75);
    background-color: shade(@theme_bg_color, 0.80);
    background-image: none;
}
*/
/******************
 * linked buttons *
 *****************/
/* set up shadows for visual separation */

/* Deleted this whole section. Linked buttons weren't a thing in '95 */

/***********
 * tooltip *
 ***********/
.tooltip
 {
    border-width: 3px;
    border-style: solid;
    border-color: #000;
    border-radius: 0px;
    background-color: @theme_tooltip_bg_color;
    background-image: none;
    box-shadow: none;
    color: @theme_tooltip_fg_color;
}


.tooltip * {
    background-color: @theme_tooltip_bg_color;
}


/**************
 * action-bar *
 **************/
.action-bar {
    padding: 4px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: @theme_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

.action-bar .button.text-button {
    padding: 4px;
}

.action-bar .button.image-button {
    padding: 1px;
}

.action-bar .title {
    font-weight: bold;
    padding: 0 12px;
}

.action-bar .subtitle {
    font-size: smaller;
    padding: 0 12px;
}

/***************
 * search bars *
 ***************/
.search-bar {
    /*background-color: ;*/
}

.search-bar .button.close-button {
    padding: 4px;
}

/********************
 * various choosers *
 ********************/
GtkFontButton .separator,
GtkFileChooserButton .separator {
    /* always disable separators */
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

/*
GtkFontButton GtkLabel:last-child {
    color: alpha(currentColor, 0.7);
}

GtkFileChooserButton GtkImage:last-child {
    color: alpha(currentColor, 0.7);
}
*/

/*********************
 * app notifications *
 *********************/
.app-notification {
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-width: 1px;
    border-radius: 0;
    padding: 8px;
    background-color: @bg_color;
    background-image: none;
    color: @theme_text_color;
    box-shadow: inset 1px 1px #FFF, inset -1px -1px #808080;
}

/*******
 * osd *
 *******/
.background.osd {
    color: @osd_fg;
    background-color: @osd_bg;
}

GtkOverlay.osd {
    background-color: transparent;
}

.osd.frame {
    background-clip: border-box;
    background-origin: border-box;
    
}

/*
.osd.button,
.osd .button {

}

.osd.button:hover,
.osd.button:hover,
.osd .button:hover {
    border-color: shade(@osd_bg, 0.7);
    background-color: shade(@osd_bg, 1.10);
    background-image: none;
}

.osd.button:active,
.osd .button:active,
.osd GtkMenuButton.button:active {

}

.osd.button:active:hover,
.osd .button:active:hover,
.osd GtkMenuButton.button:active:hover {
   
}

.osd.button:disabled,
.osd .button:disabled {
    border-color: shade(@osd_bg, 0.85);
    background-color: shade(@osd_bg, 0.9);
    background-image: none;
}

.osd.button:active *:disabled,
.osd .button:active *:disabled {
    background-color: shade(@osd_bg, 0.80);
    background-image: none;
}

.osd.toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: shade(@osd_bg, 0.8);
    background-color: @osd_bg;
    background-image: none;
    color: @osd_fg;
}

.osd.toolbar .button {
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@osd_bg, 0.8);
    border-radius: 0px;
    background-color: shade(@osd_bg, 1.08);
    background-image: none;
    color: @osd_fg;
}

.osd.toolbar .button:hover {
    border-color: shade(@osd_bg, 0.7);
    background-color: shade(@osd_bg, 1.10);
    background-image: none;
}

.osd.toolbar .button:active {
    border-color: shade(@osd_bg, 0.8);
    background-color: shade(@osd_bg, 0.95);
    background-image: none;
}

.osd.toolbar .button:active:hover {
    border-color: shade(@osd_bg, 0.7);
}

.osd.toolbar .button:focus,
.osd.toolbar .button:hover:focus,
.osd.toolbar .button:active:focus,
.osd.toolbar .button:active:hover:focus {
    border-color: shade(@osd_bg, 0.7);
}

.osd.toolbar .button:disabled {
    border-color: shade(@osd_bg, 0.85);
    background-color: shade(@osd_bg, 0.9);
    background-image: none;
}

.osd.toolbar .button:active *:disabled {
    border-color: shade(@osd_bg, 0.75);
    background-color: shade(@osd_bg, 0.80);
    background-image: none;
}

.osd.toolbar .button:first-child {
    border-radius: 0px 0 0 0px;
    border-width: 1px 0 1px 1px;
    box-shadow: inset -1px 0 shade(@osd_bg, 0.9);
}

.osd.toolbar .button:last-child {
    box-shadow: none;
    border-radius: 0 0px 0px 0;
    border-width: 1px 1px 1px 0;
}

.osd.toolbar .button:only-child,
.osd.toolbar GtkToolButton .button,
.osd.toolbar GtkToolButton:only-child .button,
.osd.toolbar GtkToolButton:last-child .button,
.osd.toolbar GtkToolButton:first-child .button {
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

.osd.toolbar .separator {
    color: shade(@osd_bg, 0.9);
}

 used by gnome-settings-daemon's media-keys OSD */
.osd.trough {
    background-color: shade(@osd_bg, 0.8);
}
/*

.osd.progressbar {
    background-color: @osd_fg;
}

.osd .scale.slider {
    background-color: shade(@osd_bg, 1.08);
    background-image: none;
     we will draw the border using box shadow for now 
    box-shadow: inset 1px 0 shade(@osd_bg, 0.8),
                inset 0 1px shade(@osd_bg, 0.8),
                inset -1px 0 shade(@osd_bg, 0.8),
                inset 0 -1px shade(@osd_bg, 0.8);
}

.osd .scale.slider:hover {
    box-shadow: inset 1px 0 shade(@osd_bg, 0.7),
                inset 0 1px shade(@osd_bg, 0.7),
                inset -1px 0 shade(@osd_bg, 0.7),
                inset 0 -1px shade(@osd_bg, 0.7);
}

.osd .scale.slider:disabled {
    background-color: shade(@osd_bg, 0.9);
    background-image: none;
    box-shadow: inset 1px 0 shade(@osd_bg, 0.85),
                inset 0 1px shade(@osd_bg, 0.85),
                inset -1px 0 shade(@osd_bg, 0.85),
                inset 0 -1px shade(@osd_bg, 0.85);
}

.osd .scale.trough {
    border-color: shade(@osd_bg, 0.8);
    background-color: shade(@osd_bg, 1.08);
    background-image: none;
}

.osd .scale.trough.highlight {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.osd .scale.trough:disabled,
.osd .scale.trough.highlight:disabled {
    border-color: shade(@osd_bg, 0.85);
    background-color: shade(@osd_bg, 0.9);
    background-image: none;
}

.osd GtkProgressBar,
GtkProgressBar.osd {
    -GtkProgressBar-xspacing: 0;
    -GtkProgressBar-yspacing: 2px;
    -GtkProgressBar-min-horizontal-bar-height: 2px;

    padding: 0;
}

.osd GtkProgressBar.trough,
GtkProgressBar.osd.trough {
    padding: 0;
    border-style: none;
    border-radius: 0;
    background-image: none;
    background-color: transparent;
}

.osd GtkProgressBar.progressbar,
GtkProgressBar.osd.progressbar {
    border-style: none;
    border-radius: 0;
    background-color: @progressbar_color;
    background-image: none;
}

.osd .view,
.osd.view {
    background-color: @osd_base;
}

.osd .scrollbar.trough {
    background-color: @osd_bg;
}

.osd .scrollbar.slider {
    border-width: 1px;
    border-color: mix(shade(@osd_base, 0.87), @osd_fg, 0.21);
    border-radius: 0;
    background-color: mix(@osd_base, @osd_fg, 0.21);
}

.osd .scrollbar.slider:hover {
    border-color: mix(shade(@osd_base, 0.87), @osd_fg, 0.31);
    background-color: mix(@osd_base, @osd_fg, 0.31);
}

.osd .scrollbar.slider:active {
    border-color: shade(@theme_bg_color, 0.9);
    background-color: @theme_bg_color;
}

.osd GtkIconView.cell:selected,
.osd GtkIconView.cell:selected:focus {
    background-color: transparent;
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
    border-color: @osd_fg;
    outline-color: transparent;
}
*/
/* used by Documents */
.osd .page-thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: shade(@osd_bg, 0.9);
    /* when there's no pixbuf yet */
    background-color: @osd_bg;
}

/******************************
 * destructive action buttons *
 ******************************/
.destructive-action.button {
    border-radius: 0px;
    background-color: @error_color;
    background-image: none;
    color: mix(@theme_selected_fg_color, @error_color, 0.1);
}

.destructive-action.button:hover {
    background-color: shade(@error_color, 1.12);
    background-image: none;
}

.destructive-action.button:active {
    background-color: shade(@error_color, 0.87);
    background-image: none;
}

.destructive-action.button:hover:active {
    border-color: shade(@error_color, 0.7);
}

/******************************
 * suggested action buttons *
 ******************************/
.suggested-action.button {
    color: @info_fg_color;
    background-color: @info_bg_color;
}
/*
.suggested-action.button:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: shade(@theme_selected_bg_color, 1.20);
    background-image: none;
} 

.suggested-action.button:active {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: shade(@theme_selected_bg_color, 1.05);
    background-image: none;
}

.suggested-action.button:hover:active {
    border-color: shade(@theme_selected_bg_color, 0.8);
}  */

/******************
 * selection mode *
 ******************/
.selection-mode.header-bar,
.selection-mode.toolbar {
    border-style: solid;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_bg_color;
}

.selection-mode.header-bar {
    border-top-color: @theme_selected_bg_color;
    border-bottom-color: @theme_selected_bg_color;
}

.selection-mode.toolbar {
    padding: 4px;
}

/* selection mode items removed, default will be used */

/*************************
 * touch text selections *
 *************************/
GtkBubbleWindow {
    border-radius: 0px;
    background-clip: border-box;
}

GtkBubbleWindow.osd.background {
    background-color: @osd_bg;
}

GtkBubbleWindow .toolbar {
    background-color: transparent;
}


/**********
 * Window *
 **********/

/* Server-side decoration (SSD) */
window.ssd {
    background-color: @titlebar_bg_color;
}

/* Client-side Decorations (CSD)*/
headerbar,
.titlebar {
    padding: 2px;
    margin: 1px;
    background-color: @selected_bg_color;
    background-image: none;
    text-shadow: none;
}

headerbar:backdrop,
.titlebar:backdrop {
    background-image: none;
    background-color: @selected_inactive_bg_color;
}

headerbar > box > label,
.titlebar > box > label {
    color: @selected_fg_color;
}

headerbar:backdrop > box > label,
.titlebar:backdrop > box > label {
    color: @selected_inactive_fg_color;
}

.maximized headerbar,
.maximized .titlebar {
	border: 0px;
    box-shadow: none;
    padding: 0px; 
    border-radius: 0;
}

headerbar entry {
  margin: 2px;
}

decoration {
   padding: 2px;
}

/* we dont want any extra padding in those */
menuitem > window,
window > menu {
   padding: 0px;
}

window.csd.maximized {
 border: 0px;
 box-shadow: none;
}

window.csd tooltip {
    border-radius: 0;
    border: 0 none black;
    box-shadow: none; 
}
