/*************
 * Notebooks *
 *************/

/* 
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkNotebook class.
*/

notebook {
  padding: 0px;
  background-color: @bg_color; }
  notebook > stack:not(:only-child) {
    margin: 0px;
    border: 1px solid @border_dark;
    border-top: 1px solid @border_bright;
    border-left: 1px solid @border_bright;
    padding: 3px;
    background-color: @bg_color;
    box-shadow: inset -1px -1px @border_shade ; }

/* header tab positioning */
notebook > header {
  margin: 0px;
  background-color: @theme_bg_color; }
  notebook > header.top,
  notebook > header.bottom,
  notebook.frame > header.top,
  notebook.frame > header.bottom {
    margin-left: 3px;
    margin-right: 3px; }
  notebook > header.left,
  notebook > header.right,
  notebook.frame > header.left,
  notebook.frame > header.right {
    margin-top: 3px;
    margin-bottom: 3px; }

/* tab styling */
notebook tab {
  padding: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: transparent;
  background-color: @notebook_bg; }
  notebook tab:hover {
    background-color: @notebook_bg_hover; }
    notebook tab:hover label {
      color: @notebook_label_hover; }
  notebook tab:checked {
    outline: 1px dotted @outline_color;
    outline-offset: -5px;
    border-color: @bg_dark;
    background-color: @notebook_bg_selected; }
    notebook tab:checked label {
      color: @notebook_label_selected; }
  notebook tab label {
    color: @notebook_label; }
  notebook tabs > arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    min-height: 10px;
    min-width: 10px;
    background-color: transparent;
    -gtk-icon-source: none; }
    notebook tabs > arrow:hover {
      background-color: @notebook_bg_arrow; }

/* Top tabs */
notebook > header.top > tabs > tab {
  border-width: 5px 5px 2px 5px;
  border-image: url("assets/notebook_top.png");
  border-image-slice: 5 5 2 5; }
  notebook > header.top > tabs > tab:checked {
    margin-left: -3px;
    margin-right: -3px; 
    margin-bottom: -1px;
    border-image: url("assets/notebook_top_checked.png");
    border-image-slice: 5 5 2 5; }
  notebook > header.top > tabs > arrow {
    padding: 2px; }
  notebook > header.top > tabs > arrow.up {
    margin-right: 3px;
    background-image: url("assets/arrow-right.png"); }
    notebook > header.top > tabs > arrow.up:hover {
      background-image: url("assets/arrow-right-selected.png"); }
    notebook > header.top > tabs > arrow.up:disabled {
      background-image: url("assets/arrow-right-disabled.png"); }
  notebook > header.top > tabs > arrow.down {
    margin-left: 3px;
    background-image: url("assets/arrow-left.png"); }
    notebook > header.top > tabs > arrow.down:hover {
      background-image: url("assets/arrow-left-selected.png"); }
    notebook > header.top > tabs > arrow.down:disabled {
      background-image: url("assets/arrow-left-disabled.png"); }

/* Bottom tabs */
notebook > header.bottom > tabs > tab {
  border-width: 2px 5px 5px 5px;
  border-image: url("assets/notebook_bottom.png");
  border-image-slice: 2 5 5 5; }
  notebook > header.bottom > tabs > tab:checked {
    margin-left: -3px;
    margin-right: -3px;
    margin-top: -2px;
    border-image: url("assets/notebook_bottom_checked.png");
    border-image-slice: 2 5 5 5; }
  notebook > header.bottom > tabs > arrow {
    padding: 2px; }
  notebook > header.bottom > tabs > arrow.up {
    margin-right: 3px;
    background-image: url("assets/arrow-right.png"); }
    notebook > header.bottom > tabs > arrow.up:hover {
      background-image: url("assets/arrow-right-selected.png"); }
    notebook > header.bottom > tabs > arrow.up:disabled {
      background-image: url("assets/arrow-right-disabled.png"); }
  notebook > header.bottom > tabs > arrow.down {
    margin-left: 3px;
    background-image: url("assets/arrow-left.png"); }
    notebook > header.bottom > tabs > arrow.down:hover {
      background-image: url("assets/arrow-left-selected.png"); }
    notebook > header.bottom > tabs > arrow.down:disabled {
      background-image: url("assets/arrow-left-disabled.png"); }

/* Right tabs */
notebook > header.right > tabs > tab {
  padding-left: 2px;
  padding-right: 1px;
  border-width: 4px 8px 6px 0px;
  border-image: url("assets/notebook_right.png");
  border-image-slice: 4 8 6 0; }
  notebook > header.right > tabs > tab:checked {
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -2px;
    border-image: url("assets/notebook_right_checked.png");
    border-image-slice: 4 8 6 0; }
    notebook > header.right > tabs > tab:checked label {
      margin-left: 2px; }
  notebook > header.right > tabs > arrow.up {
    background-position: 51% 50%;
    margin-top: 3px;
    background-image: url("assets/arrow-down.png"); }
    notebook > header.right > tabs > arrow.up:hover {
      background-image: url("assets/arrow-down-selected.png"); }
    notebook > header.right > tabs > arrow.up:disabled {
      background-image: url("assets/arrow-down-disabled.png"); }
  notebook > header.right > tabs > arrow.down {
    background-position: 51% 50%;
    margin-bottom: 3px;
    background-image: url("assets/arrow-up.png"); }
    notebook > header.right > tabs > arrow.down:hover {
      background-image: url("assets/arrow-up-selected.png"); }
    notebook > header.right > tabs > arrow.down:disabled {
      background-image: url("assets/arrow-up-disabled.png"); }

/* Left tabs */
notebook > header.left > tabs > tab {
  padding-left: 1px;
  padding-right: 2px;
  border-width: 4px 0 6px 8px;
  border-image: url("assets/notebook_left.png");
  border-image-slice: 4 0 6 8;}
  notebook > header.left > tabs > tab:checked {
    margin-top: -3px;
    margin-bottom: -3px;
    margin-right: -1px;
    border-image: url("assets/notebook_left_checked.png");
    border-image-slice: 4 0 6 8; }
    notebook > header.left > tabs > tab:checked label {
      margin-right: 1px; }
  notebook > header.left > tabs > arrow.up {
    background-position: 51% 50%;
    margin-top: 3px;
    background-image: url("assets/arrow-down.png"); }
    notebook > header.left > tabs > arrow.up:hover {
      background-image: url("assets/arrow-down-selected.png"); }
    notebook > header.left > tabs > arrow.up:disabled {
      background-image: url("assets/arrow-down-disabled.png"); }
  notebook > header.left > tabs > arrow.down {
    background-position: 51% 50%;
    margin-bottom: 3px;
    background-image: url("assets/arrow-up.png"); }
    notebook > header.left > tabs > arrow.down:hover {
      background-image: url("assets/arrow-up-selected.png"); }
    notebook > header.left > tabs > arrow.down:disabled {
      background-image: url("assets/arrow-up-disabled.png"); }

tabs arrow.down {
  background-position: 0px 10px; }

tabs arrow.up {
  background-position: 5px 10px; }
