/******************
 * window actions *
 ******************/

.titlebutton.minimize {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/icon-minimise.png");
}

.titlebutton.minimize:backdrop {
}
.titlebutton.minimize:checked {
}

.titlebutton.maximize {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/icon-maximise.png");
}

.titlebutton.maximize:backdrop {
}
.titlebutton.maximize:checked {
}

.maximized .titlebutton.maximize {
    background-image: url("buttons/icon-restore.png");
}
.maximized .titlebutton.maximize:active {
}

.titlebutton.close {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/icon-close.png");
}

.titlebutton.close:backdrop {
}
.titlebutton.close:checked {
}

/* Scroolbar Arrows */
.scrollbar.button.vertical.top {
	-gtk-icon-source: url("assets/arrow-up.png");
}


.scrollbar.button.vertical.bottom {
	-gtk-icon-source: url("assets/arrow-down.png");
}

.scrollbar.button.horizontal.left {
	-gtk-icon-source: url("assets/arrow-left.png");
}

.scrollbar.button.horizontal.right  {
	-gtk-icon-source: url("assets/arrow-right.png");
}

.scrollbar.button.vertical.top:disabled {
	-gtk-icon-source: url("assets/arrow-up-insens.png");
}

.scrollbar.button.vertical.bottom:disabled {
	-gtk-icon-source: url("assets/arrow-down-insens.png");
}


.scrollbar.button.horizontal.left:disabled {
	-gtk-icon-source: url("assets/arrow-left-insens.png");
}


.scrollbar.button.horizontal.right:disabled {
	-gtk-icon-source: url("assets/arrow-right-insens.png");
}
/*

.scrollbar.button.vertical.top:prelight {
	background-image: url("assets/stepper-up-prelight.png");
        border-image: url("assets/stepper-up-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
}

.scrollbar.button.vertical.bottom:prelight {
	background-image: url("assets/stepper-down-prelight.png");
        border-image: url("assets/stepper-down-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
}

.scrollbar.button.horizontal.left:prelight {
	background-image: url("assets/stepper-left-prelight.png");
        border-image: url("assets/stepper-left-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
}

.scrollbar.button.horizontal.right:prelight {
	background-image: url("assets/stepper-right-prelight.png");
        border-image: url("assets/stepper-right-prelight.png");
	border-width: 1px;
        border-radius: 1px;
	border-color: black;
   
} */


.scale.scale-has-marks-above.slider.horizontal,
.scale.scale-has-marks-above.slider.horizontal:hover,
.scale.scale-has-marks-above.slider.horizontal:active,
.scale.scale-has-marks-above.slider.horizontal:active:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-above.png");
}

.scale.scale-has-marks-above.slider.horizontal:disabled,
.scale.scale-has-marks-above.slider.horizontal:disabled:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-above-insense.png");
}

.scale.scale-has-marks-above.slider.vertical,
.scale.scale-has-marks-above.slider.vertical:hover,
.scale.scale-has-marks-above.slider.vertical:active,
.scale.scale-has-marks-above.slider.vertical:active:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-left.png");
}

.scale.scale-has-marks-above.slider.vertical:disabled,
.scale.scale-has-marks-above.slider.vertical:disabled:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-left-insense.png");
}

.scale.scale-has-marks-below.slider.horizontal,
.scale.scale-has-marks-below.slider.horizontal:hover,
.scale.scale-has-marks-below.slider.horizontal:active,
.scale.scale-has-marks-below.slider.horizontal:active:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-below.png");
}

.scale.scale-has-marks-below.slider.horizontal:disabled,
.scale.scale-has-marks-below.slider.horizontal:disabled:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-below-insense.png");
}

.scale.scale-has-marks-below.slider.vertical,
.scale.scale-has-marks-below.slider.vertical:hover,
.scale.scale-has-marks-below.slider.vertical:active,
.scale.scale-has-marks-below.slider.vertical:active:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-right.png");
}

.scale.scale-has-marks-below.slider.vertical:disabled,
.scale.scale-has-marks-below.slider.vertical:disabled:hover {
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
	background-image: url("assets/slider-right-insense.png");
}

.menu .menuitem .arrow:dir(ltr) {
        -gtk-icon-source: url("assets/arrow-right.png");
}
.menu .menuitem .arrow:dir(rtl) {
        -gtk-icon-source: url("assets/arrow-left.png");
}

.menu .menuitem .arrow:dir(ltr):hover {
        -gtk-icon-source: url("assets/arrow-right-hover.png");
}
.menu .menuitem .arrow:dir(rtl):hover {
        -gtk-icon-source: url("assets/arrow-left-hover.png");
}

.menu .menuitem .arrow:dir(ltr):disabled {
        -gtk-icon-source: url("assets/arrow-right-insense.png");
}
.menu .menuitem .arrow:dir(rtl):disabled {
        -gtk-icon-source: url("assets/arrow-left-insense.png");
}

.combobox .arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); 
}
