/*****************
 * Basic Effects *
 *****************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
*/

/* Sunken 1px */
levelbar trough,
progressbar trough,
.menubar .menuitem:hover {
  border-style: solid;
  border-width: 1px;
  border-color: @border_shade @border_bright @border_bright @border_shade;
  border-radius: 0px; }

stepper {
  border-style: solid;
  border-width: 1px;
  border-color: @border_bright @border_dark @border_dark @border_bright;
  box-shadow: inset 1px 1px @border_bright, inset -1px -1px @border_dark;
  border-radius: 0; }

slider {
  border-style: solid;
  border-width: 1px;
  border-color: @border_color @border_dark @border_dark @border_color;
  box-shadow: inset 1px 1px @border_bright, inset -1px -1px @border_shade;
  border-radius: 0px; }
  /* Makes a checkerboard */
  slider:disabled,
  trough {
    background-color: @scrollbar_trough_bg_color;
    background-image: linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_color), linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_dark);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px; }

colorswatch:selected,
entry,
switch,
scale trough,
popover button.flat:selected,
popover button.flat:active,
button.appmenu:selected,
button.appmenu:active {
  border-style: solid;
  border-width: 1px;
  border-color: @border_shade @border_bright @border_bright @border_shade;
  box-shadow: inset 1px 1px @border_dark, inset -1px -1px @border_color;
  background-color: @theme_bg_color; }

switch {
  border-style: solid;
  border-width: 1px;
  border-color: @border_shade @border_bright @border_bright @border_shade;
  box-shadow: inset 1px 1px @border_dark, inset -1px -1px @border_color;
  background-color: @bg_bright; }
  switch:disabled {
    background-color: @theme_bg_color; }

colorswatch {
  border-style: solid;
  border-width: 1px;
  border-color: @border_color @border_dark @border_dark @border_color;
  box-shadow: inset 1px 1px @border_bright, inset -1px -1px @border_shade;
  border-radius: 0px; }
