style "combobutton" = "default"
{

xthickness = 2
ythickness = 2

engine "pixmap"
{



	image
	{
		function	= BOX
		state		= NORMAL
		file		= "/entry/entry-button-normal.png"
		border		= { 6 , 6 , 4 ,4}
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		recolorable	= TRUE
		state		= PRELIGHT
		shadow		= OUT
		file		= "/entry/entry-button-prelight.png"
		border		= { 4 ,4 , 4 ,4}
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		recolorable	= TRUE
		state		= PRELIGHT
		shadow		= IN
		file		= "/entry/entry-button-prelight.png"
		border		= { 4 ,4 , 4 ,4}
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		state		= INSENSITIVE
		file		= "/entry/entry-button-normal.png"
		border		= { 4 ,4 , 4 ,4}
		stretch		= TRUE
	}


	image
	{
		function	= BOX
		state		= ACTIVE
		file		= "/entry/entry-button-active.png"
		border		= { 4 ,4 , 4 ,4}
		stretch		= TRUE
	}


}

}



widget_class "*Entry*Button*"       		style "combobutton"
widget_class "*GtkCombo.*Button*" 		style "combobutton"
class "GtkCombo*"       			style "combobutton"
widget_class "*GtkCombo*"       		style "combobutton"
#class "GtkOptionMenu"       			style "optionmenu"