#############################################################
#SLICKNESS PANEL SETTINGS
#############################################################

#############################################################
#THIS FIXES THE STANDARD SHUTDOWN-DIALOG ON GNOME
#############################################################

style "fix"
{
	xthickness = 0
	ythickness = 0
}

class "*Panel*" style "fix"

#############################################################
# Panel
#############################################################

style "panel"
{
	fg[NORMAL] = "#000000" #TEXT ON NORMAL PANEL BUTTONS
	fg[PRELIGHT] = "#000000" #TEXT ON MOUSEOVERED PANEL BUTTONS
	fg[ACTIVE] = "#000000" #TEXT ON ACTIVE PANEL BUTTON
	fg[SELECTED] = "#000000"
	fg[INSENSITIVE] = "#000000"
	#bg[SELECTED] = "#000000"
	bg_pixmap[NORMAL] = "panel/panel-bg2.png"
	#bg_pixmap[ACTIVE] = "panel/panel-bg2.png"
	#bg_pixmap[SELECTED] = "panel/panel-bg2.png"
	#bg_pixmap[INSENSITIVE] = "panel/panel-bg2.png"
	#bg_pixmap[PRELIGHT] = "panel/panel-bg2.png"
	xthickness = 4
	ythickness = 4
	GtkWidget::focus_padding = 2

	engine "pixmap"
	{
		image
		{
			function = BOX
			recolorable = TRUE
			state = NORMAL
			file = "panel/panel-bg.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			shadow = OUT
			recolorable = TRUE
			state = PRELIGHT
			file = "panel/panel-bg.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = ACTIVE
			file = "panel/panel-button-active.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = INSENSITIVE
			file = "panel/panel-bg.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = SELECTED
			file = "panel/panel-button-active.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}
	}
}

#############################################################
#THESE DECLARATIONS MAKE SURE THE PANEL STILL USES PANEL STYLE
#############################################################

class "*Mail*"		style "panel"
#class "*notif*"		style "panel"
#class "*Notif*"		style "panel"
class "*Tray*"		style "panel"
class "*tray*"		style "panel"
widget_class "*Mail*"		style "panel"
#widget_class "*notif*"		style "panel"
#widget_class "*Notif*"		style "panel"
widget_class "*Tray*"		style "panel"
widget_class "*tray*"		style "panel"
widget_class "*BonoboDockItem"		style "panel"
class "*BonoboDockItem"		style "panel"
widget "*TrayIcon*"		style "panel"
class "*Panel*Applet*"		style "panel"
widget_class "*Panel*GtkToggleButton"		style "panel"
#widget_class "*Panel*GtkButton"		style "panel"
widget_class "*.Panel*Button*GtkLabel"		style "panel"
widget_class "*.Panel*GtkLabel"		style "panel"
widget "*PanelWidget*"		style "panel"
widget "*PanelApplet*"		style "panel"
#############################################################
#THE COMMENTED CLASSES FIXES A PANEL BUG THAT MADE SOME 
#TRAY ICONS MOVE DOWN 1 PIXEL , A VERY BIG THANKS TO MOOMEX
#FOR THIS INFORMATION!!!!!!
#############################################################
# THANKS TO merlwiz79 FOR THESE FIXES
#############################################################
widget_class "*Netstatus*"		style "panel"
widget_class "*Tomboy*Tray*"		style "panel"
widget "*fast-user-switch*"		style "panel"
widget_class "*PanelToplevel*"		style "panel"
class "Xfce*Panel*"		style "panel"
#widget_class "*Xfce*Panel*"		style "panel"
widget_class "*PanelApplet*"		style "panel"
widget_class "*PanelWidget*"		style "panel"
widget_class "*computertemp*"		style "panel"
widget_class "*Applet*Tomboy*"		style "panel"
widget_class "*Applet*Netstatus*"		style "panel"

#############################################################
# Panelbar
#############################################################

style "panelbar"
{

	engine "pixmap"
	{
		image
		{
			function = HANDLE
			overlay_file = "toolbar/handlebox-h.png"
			overlay_stretch = FALSE
			orientation = HORIZONTAL
		}

		image
		{
			function = HANDLE
			overlay_file = "toolbar/handlebox-v.png"
			overlay_stretch = FALSE
			orientation = VERTICAL
		}
	}
}

widget_class "*PanelToplevel*"		style "panelbar"
class "Xfce*Panel*"		style "panelbar"
widget_class "*Xfce*Panel*"		style "panelbar"
widget_class "*PanelApplet*"		style "panelbar"
widget_class "*PanelWidget*"		style "panelbar"
#############################################################
# Panel buttons
#############################################################

style "panelbuttons"
{
	xthickness = 5
	ythickness = 2
	GtkWidget::focus_padding = 2
	engine "pixmap"
	{
		image
		{
			function = BOX
			recolorable = TRUE
			state = NORMAL
			file = "panel/panel-button.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			shadow = OUT
			recolorable = TRUE
			state = PRELIGHT
			file = "panel/panel-button.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = ACTIVE
			file = "panel/panel-button-active.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = INSENSITIVE
			file = "panel/panel-button.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = SELECTED
			file = "panel/panel-button-active.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = PRELIGHT
			file = "panel/panel-button-active.png"
			border = { 5, 5, 5, 5 }
			stretch = TRUE
		}
	}
}

widget "*tasklist*"		style "panelbuttons"
#############################################################
# THANKS TO merlwiz79 FOR THESE FIXES
#############################################################
widget_class "*Xfce*Panel*.GtkToggleButton"		style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"		style "panelbuttons"

#############################################################
# Launcher buttons
#############################################################

style "launcher"
{
		#Theme default
		#Uncomment the following two for 16x16px launcher icons on a 24px height panel.
		xthickness = 3
		ythickness = 3

	#Uncomment the following two for 16x16px launcher icons on a 26px height panel.
	#xthickness = 4
	#ythickness = 4

	#Uncomment the following two for 16x16px launcher icons on a 28px height panel.
	#xthickness = 5
	#ythickness = 5

	#Uncomment the following two for 16x16px launcher icons on a 30px height panel.
	#xthickness = 6
	#ythickness = 6

	#Uncomment the following two for 16x16px launcher icons on a 32px height panel.
	#xthickness = 7
	#ythickness = 7

	#Uncomment the following two for 16x16px launcher icons on a 34px height panel.
	#xthickness = 8
	#ythickness = 8

	#Uncomment the following two for 16x16px launcher icons on a 36px height panel.
	#xthickness = 9
	#ythickness = 9

	#Uncomment the following two for 16x16px launcher icons on a 38px height panel.
	#xthickness = 10
	#ythickness = 10

	#Uncomment the following two for 16x16px launcher icons on a 40px height panel.
	#xthickness = 11
	#ythickness = 11

	#Uncomment the following two for 16x16px launcher icons on a 42px height panel.
	#xthickness = 12
	#ythickness = 12
}

widget "*launcher*"		style "launcher"
widget_class "*PanelToplevel*Button"		style "launcher"
widget_class "*Panel*GtkToggleButton"		style "launcher"

#############################################################
# Whisker Menu & Application Menu
#############################################################

style "whiskerbutton"
{
	xthickness = 0
	ythickness = 0
	GtkWidget::focus_padding = 1

	engine "pixmap" 
	{
		image
		{
			function = BOX
			detail = "buttondefault"
			file = "Others/null.png"
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = NORMAL
			file = "Others/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			shadow = OUT
			recolorable = TRUE
			state = PRELIGHT
			file = "Others/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			shadow = IN
			state = PRELIGHT
			file = "Others/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = ACTIVE
			file = "Others/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = INSENSITIVE
			file = "Others/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}

		image
		{
			function = BOX
			recolorable = TRUE
			state = SELECTED
			file = "Others/null.png"
			border = { 0, 0, 0, 0 }
			stretch = TRUE
		}
	}
}

widget "*applicationmenu-button"		style "whiskerbutton" #for the application menu button.
widget "*whiskermenu-button"		style "whiskerbutton" #for Whisker menu button.
#widget "*Xfce*Panel*isker"		style "whiskerbutton"
