#############################################################
#SLICKNESS PANEL SETTINGS
#############################################################

#############################################################
#THIS FIXES THE STANDARD SHUTDOWN-DIALOG ON GNOME
#############################################################

style "fix"
{
xthickness = 0
ythickness = 0
#bg_pixmap[NORMAL] = "shadows/window-bg.png"
}

class "*Panel*" style "fix"

#############################################################

style "panel"
{

  	fg[NORMAL]			= "#000000" #TEXT ON NORMAL PANEL BUTTONS
  	fg[PRELIGHT]			= "#000000" #TEXT ON MOUSEOVERED PANEL BUTTONS
  	fg[ACTIVE]			= "#000000" #TEXT ON ACTIVE PANEL BUTTON
  	fg[SELECTED]			= "#000000"
  	fg[INSENSITIVE]			= "#000000"
#  	bg[SELECTED]			= "#000000"
	bg_pixmap[NORMAL] 		= "panel/panel-bg2.png"
#	bg_pixmap[ACTIVE] 		= "panel/panel-bg2.png"
#	bg_pixmap[SELECTED] 		= "panel/panel-bg2.png"
#	bg_pixmap[INSENSITIVE] 		= "panel/panel-bg2.png"
#	bg_pixmap[PRELIGHT] 		= "panel/panel-bg2.png"

	xthickness            			= 4
        ythickness            			= 2

	GtkWidget::focus_padding 		= 2

	engine "pixmap" {
      
	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= NORMAL
		file            		= "panel/panel-bg.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}
		
	image
	{
		function        		= BOX
		shadow				= OUT
		recolorable     		= TRUE
		state				= PRELIGHT
		file            		= "panel/panel-bg.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}		

		

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= ACTIVE
		file            		= "panel/panel-button-active.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}  

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= INSENSITIVE
		file            		= "panel/panel-bg.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	} 

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= SELECTED
		file            		= "panel/panel-button-active.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}  


}



}


#############################################################
#Tray
#############################################################


#############################################################
#THESE DECLARATIONS MAKE SURE THE PANEL STILL USES PANEL STYLE
#############################################################

class "*Mail*" 				style "panel"
class "*notif*" 			style "panel"
class "*Notif*" 			style "panel"
class "*Tray*" 				style "panel"
class "*tray*" 				style "panel"
widget_class "*Mail*" 			style "panel"
widget_class "*notif*" 			style "panel"
widget_class "*Notif*" 			style "panel"
widget_class "*Tray*" 			style "panel"
widget_class "*tray*" 			style "panel"
widget_class "*BonoboDockItem" 		style "panel"
class "*BonoboDockItem" 		style "panel"
widget "*TrayIcon*" 			style "panel"
class "*Panel*Applet*" 			style "panel"
widget_class "*Panel*GtkToggleButton" 	style "panel"
widget_class "*Panel*GtkButton" 	style "panel"
widget_class "*.Panel*Button*GtkLabel" 	style "panel"
widget_class "*.Panel*GtkLabel" 	style "panel"
widget "*PanelWidget*" 			style "panel"
widget "*PanelApplet*" 			style "panel"
#############################################################
#THE COMMENTED CLASSES FIXES A PANEL BUG THAT MADE SOME 
#TRAY ICONS MOVE DOWN 1 PIXEL , A VERY BIG THANKS TO MOOMEX
#FOR THIS INFORMATION!!!!!!
#############################################################
# THANKS TO merlwiz79 FOR THESE FIXES
#############################################################

widget_class "*Netstatus*" 		style "panel"
widget_class "*Tomboy*Tray*" 		style "panel"
widget "*fast-user-switch*" 		style "panel"
widget_class "*PanelToplevel*" 		style "panel"
class "Xfce*Panel*" 			style "panel"
widget_class "*Xfce*Panel*" 		style "panel"
widget_class "*PanelApplet*" 		style "panel"
widget_class "*PanelWidget*" 		style "panel"
widget_class "*computertemp*"     style "panel"
widget_class "*Applet*Tomboy*"    style "panel"
widget_class "*Applet*Netstatus*" style "panel"

#############################################################
#THIS MAKES THE APPLICATIONS PLACES SYSTEM MENU ON THE PANEL
#USE PANEL STYLE
#############################################################


style "panelbar"
{

 xthickness            			= 5
 ythickness            			= 2

engine "pixmap"
{
	image
	{
		function	= BOX
		state		= NORMAL
		file		= "panel/panel-bg.png"
		border		= { 5 , 5 , 5 , 5}
		stretch		= TRUE
	}

	
	image
	{
		function	= BOX
		state		= ACTIVE
		file		= "panel/panel-bg.png"
		border		= { 5 , 5 , 5 , 5}
		stretch		= FALSE
	}

	
	image
	{
		function	= BOX
		state		= INSENSITIVE
		file		= "panel/panel-bg.png"
		border		= { 5 , 5 , 5 , 5}
		stretch		= FALSE
	}

	
	image
	{
		function	= BOX
		state		= PRELIGHT
		recolorable	= TRUE
		file		= "panel/panel-bg.png"
		border		= { 5 , 5 , 5 , 5}
		stretch		= TRUE
	}

}

}


#############################################################

style "panelbuttons"
{
        xthickness            			= 5
        ythickness            			= 2

	GtkWidget::focus_padding 		= 2

	engine "pixmap" {
      
	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= NORMAL
		file            		= "panel/panel-bg.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}
		
	image
	{
		function        		= BOX
		shadow				= OUT
		recolorable     		= TRUE
		state				= PRELIGHT
		file            		= "panel/panel-bg.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}		

		

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= ACTIVE
		file            		= "panel/panel-button-active.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}  

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= INSENSITIVE
		file            		= "panel/panel-bg.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	} 

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= SELECTED
		file            		= "panel/panel-button-active.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}
	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= PRELIGHT
		file            		= "panel/panel-button-active.png"
		border          		= { 5, 5, 5, 5 }
		stretch         		= TRUE
	}    


}

}

#############################################################
#THESE DECLARATIONS MAKE SURE THE LAUNCHER EDITOR BUTTONS USE 
#STANDARD BUTTONS STYLE AND NOT PANEL BUTTONS STYLE
#############################################################

widget "*tasklist*" 			style "panelbuttons"

#############################################################
# THANKS TO merlwiz79 FOR THESE FIXES
#############################################################


widget_class "*Xfce*Panel*.GtkToggleButton" 	style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton" style "panelbuttons"

#############################################################

style "paneltogglebuttons"
{
 xthickness            			= 5
 ythickness            			= 2

	GtkWidget::focus_padding = 2

	engine "pixmap" {
      
	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= NORMAL
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}
		
	image
	{
		function        		= BOX
		shadow				= OUT
		recolorable     		= TRUE
		state				= PRELIGHT
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}		

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		shadow				= IN
		state				= PRELIGHT
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}
		

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= ACTIVE
		file            		= "panel/panel-button-active.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}  

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= INSENSITIVE
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	} 

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= SELECTED
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}  

}

}

widget_class "*PanelToplevel*Button" 		style "paneltogglebuttons"
widget_class "*Panel*GtkToggleButton" 		style "paneltogglebuttons"

style "whiskerbutton"
{
 xthickness            			= 5
 ythickness            			= 2

	GtkWidget::focus_padding = 2

	engine "pixmap" {
        image
	{
		function			= BOX
		detail				= "buttondefault"
		file				= "panel/panel-bg.png"
		stretch				= TRUE
	}

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= NORMAL
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}
		
	image
	{
		function        		= BOX
		shadow				= OUT
		recolorable     		= TRUE
		state				= PRELIGHT
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}		

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		shadow				= IN
		state				= PRELIGHT
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}
		

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= ACTIVE
		file            		= "panel/start.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}  

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= INSENSITIVE
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	} 

	image
	{
		function        		= BOX
		recolorable     		= TRUE
		state				= SELECTED
		file            		= "panel/panel-bg.png"
		border          		= { 3, 3, 3, 3 }
		stretch         		= TRUE
	}  

}

}

widget "whiskermenu-button*" style "whiskerbutton"
#widget "*Xfce*Panel*isker" style "whiskerbutton"
