style "progressbar" = "default"
{
fg[PRELIGHT] = @selected_fg_color
#bg[NORMAL] = shade (1.1,@bg_color)
bg[NORMAL] = @bg_color
bg[PRELIGHT]      = @selected_bg_color

GtkProgressBar::min-vertical-bar-width = 16
GtkProgressBar::min-horizontal-bar-height = 16
}

class "GtkProgressBar" 				style "progressbar"
widget_class "*ProgressBar*" 			style "progressbar"
widget_class "*MenuItem.*ProgressBar*" 		style "progressbar"
