// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @return 0 1px $c;
}

// provide font size in rem, with px fallback
@mixin fontsize($size: 24, $base: 16) {
  font-size: round($size) + pt;
  //font-size: ($size / $base) * 1rem;
}

@mixin _shadows($shadow1, $shadow2:none, $shadow3:none, $shadow4:none) {
//
// Helper function to stack up to 4 box-shadows;
//
  @if $shadow4!=none { box-shadow: $shadow1, $shadow2, $shadow3, $shadow4; }
  @else if $shadow3!=none { box-shadow: $shadow1, $shadow2, $shadow3; }
  @else if $shadow2!=none { box-shadow: $shadow1, $shadow2; }
  @else { box-shadow: $shadow1; }
}

// entries

@mixin entry($t, $fc:$selected_bg_color, $edge: $borders_edge) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive
//

  @if $t==normal {
    background-color: $base_color;
    box-shadow: none;
    border-image: url('assets/box-inset.png') 3 3 3 3;

  }
  @if $t==focus {
    box-shadow: none;
    border-color: if($fc==$selected_bg_color,
                     $selected_borders_color,
                     darken($fc,35%));
  }
  @if $t==hover { }
  @if $t==insensitive {
    color: $insensitive_fg_color;
    border-color: $insensitive_bg_color;
    box-shadow: none;
  }
}

// buttons

@function _border_color ($c) { @return darken($c,25%); } // colored buttons want
                                                         // the border form the
                                                         // base color

@function _text_shadow_color ($tc:$fg_color, $bg:$bg_color) {
//
// calculate the color of text shadows
//
// $tc is the text color
// $bg is the background color
//
  $_lbg: lightness($bg)/100%;
  @if lightness($tc)<50% { @return transparentize(white,1-$_lbg/($_lbg*1.3)); }
  @else { @return transparentize(black,$_lbg*0.8); }
}

@function _button_hilight_color($c) {
//
// calculate the right top hilight color for buttons
//
// $c: base color;
//
  @if lightness($c)>90% { @return white; }
  @else if lightness($c)>80% { @return transparentize(white, 0.3); }
  @else if lightness($c)>50% { @return transparentize(white, 0.5); }
  @else if lightness($c)>40% { @return transparentize(white, 0.7); }
  @else { @return transparentize(white, 0.9); }
}

@mixin _button_text_shadow ($tc:$fg_color, $bg:$bg_color) {
//
// helper function for the text emboss effect
//
// $tc is the optional text color, not the shadow color
//
// TODO: this functions needs a way to deal with special cases
//

  $_shadow: _text_shadow_color($tc, $bg);

  text-shadow: none;
  icon-shadow: none;
}

@mixin button($t, $c:$osd_bg_color, $tc:$fg_color, $edge: $borders_edge) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//
  $_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge,1)));

  @if $t==normal {
    $_bg: if($c!=$osd_bg_color, transparentize($c, 0.5),
                            $osd_bg_color);

    border-radius: 0;
    border: none;
    color: $osd_fg_color;
    background-color: transparent;
    border-image: url('assets/box.png') 3 3 3 3;
    text-shadow: none;
    icon-shadow: none;
  }
  @if $t==focus {
    $_bg: if($c!=$osd_bg_color, transparentize($c, 0.3),
                          lighten($osd_bg_color,3%));

    color: $fg_color;
    text-shadow: none;
    icon-shadow: none;
    border: none;
    border-image: url('assets/box.png') 3 3 3 3;
    box-shadow: 0 0 0 1px black;
  }
  @else if $t==hover {
    $_bg: if($c!=$osd_bg_color, transparentize($c, 0.3),
                            lighten($osd_bg_color,3%));

    border: none;
    background-color: transparent;
    text-shadow: none;
    icon-shadow: none;
    border-image: url('assets/box.png') 3 3 3 3;
  }
  @else if $t==active {
    $_bg: if($c!=$bg_color, $c, $osd_borders_color);

    border-color: $osd_borders_color;
    border: none;
    background-color: transparent;
    text-shadow: none;
    icon-shadow: none;
    border-image: url('assets/box-active.png') 3 3 3 3;
  }
  @else if $t==insensitive {
    $_bg: transparentize(mix($insensitive_fg_color,$osd_bg_color,20%),0.3);

    color: $insensitive_fg_color;
    border: none;
    border-color: $osd_borders_color;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    border-image: url('assets/box.png') 3 3 3 3;
  }
  @else if $t==undecorated {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    icon-shadow: none;
    border-image: none;
  }
}

