/***********
 * toolbar *
 ***********/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkToolbar.
*/

toolbar {
  -GtkWidget-window-dragging: true;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid @border_shade;
  box-shadow: inset 0px 1px @border_bright;
  background-color: @bg_color; }
  toolbar.horizontal > separator {
    border-left: 1px solid @border_shade;
    border-right: 1px solid @border_bright;
    padding: 0px;
    margin: 0px 4px 0px 4px; }
  toolbar.vertical > separator {
    border-top: 1px solid @border_shade;
    border-bottom: 1px solid @border_bright;
    padding: 0px;
    margin: 4px 0px 4px 0px; }

toolitem entry {
  margin-right: 2px; }

frame toolbar {
  margin: 1px; }
