/*********************
 * list cell and row *
 *********************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the list cell and row.
*/

cell:not(check):not(radio),
row:not(check):not(radio) {
  border-width: 0px 0px 1px 0px;
  border: solid transparent; }

list > row label,
list > row image {
  padding-left: 4px;
  padding-right: 3px; }

cell:selected,
cell:selected:focus,
row:selected,
row:selected:hover,
row:selected:focus {
  background-color: @theme_selected_bg_color;
  outline-width: 1px;
  outline-offset: 0px; }

/*list > separator {
    border: 0px;
    min-height: 0px;
    min-width: 0px;
}*/

/* Exception for gnome-tweak-tool */
list.tweak-group {
  padding: 8px; }
