/************
 * combobox *
 ************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkCombobox.
*/

/* Combobox */
combobox {
  background-color: @bg_color; }
  combobox button {
    padding: 1px;
    padding-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    min-width: 16px;
    min-height: 16px;
    border-top: 1px solid @border_color;
    border-left: 1px solid @border_color;
    border-bottom: 1px solid @border_dark;
    border-right: 1px solid @border_dark;
    box-shadow: inset -1px -1px @border_shade, inset 1px 1px @border_bright; }
    * combobox button {
    padding-left: 0px; }

    /* The default cellview top or bottom margin will affect the arrow icon scaling in the combobox button. To resolve this, we will add a negative margin. */ 
    combobox button cellview {
      margin-bottom: -1px; }

/* Combobox entry */
combobox entry {
  /* This will move combobox buttons into the entry
   * Libre Office is particular about the positioning of the button, or else it will hide the right side entry border. */
  margin-right: -20px;
  padding-right: 20px; }
/* Since the above margins are not enough for regular GTK applications, we can use the following. LibreOffice VCL doesn't support the asterisk * wildcard selector in this case. */
  * combobox entry {
    margin-right: -23px;
    padding-right: 22px; }

/* Combobox window and menu decorations */
combobox window decoration {
  padding: 1px;
  border: 1px solid @border_dark;
  background-color: @bg_bright;
  box-shadow: none; }
combobox window menu {
  background-color: @bg_bright;
  border-color: @bg_bright; }

#gtk-combobox-popup-menu,
#gtk-combobox-popup-menu window {
  border: none;
  box-shadow: none;
  background-color: @bg_bright; }
  #gtk-combobox-popup-menu arrow  {
    -gtk-icon-source: none; }
  #gtk-combobox-popup-menu menuitem {
    padding: 0px; }

/* Combobox arrows */
combobox arrow {
  -gtk-icon-source: url("assets/vcl-combobox-arrow-down.png");
  min-width: 16px;
  min-height: 16px; } /* 16px icons only or else Libreoffice will distort the icon. */
  combobox:disabled arrow:disabled {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: url("assets/vcl-combobox-arrow-down-disabled.png");
  -gtk-icon-shadow: none; }
  /* The following should apply for the rest of the theme. This won't affect Libreoffice comboboxes. */
  combobox > box > button > box > arrow {
    background-image: url("assets/vcl-combobox-arrow-down.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
    -gtk-icon-source: none; }
    combobox:disabled > box > button > box > arrow {
      background-image: url("assets/vcl-combobox-arrow-down-disabled.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 16px 16px;
      min-width: 16px;
      min-height: 16px;
      -gtk-icon-source: none; }
