/*******************
 * scrolled window *
 *******************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkScrolledwindow.
*/

scrolledwindow {
  padding: 0px;
  background-color: @bg_color;
  border: 2px solid @border_dark;
  border-image: url("assets/frame_inset.png");
  border-image-slice: 2 2 2 2;
  border-radius: 0px;
  background-color: @theme_bg_color;
  box-shadow: none;
  margin: 0px; }
  scrolledwindow viewport list row {
    border: none;
    box-shadow: none;
    padding: 2px;
    margin: 0px; }

.nautilus-window overlay > scrolledwindow {
  background-color: @base_color; }
.nautilus-desktop-window overlay > scrolledwindow {
  background-color: transparent;
  border: none;
  box-shadow: none; }
.nautilus-desktop-window .nautilus-canvas-item {
  color: @nautilus_icon_text;
  text-shadow: 1px 1px @nautilus_icon_text_shadow; }

stacksidebar > scrolledwindow { 
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-shadow: none; }

.sidebar GtkScrolledWindow {
  background-color: @selected_fg_color;
  color: @text_color;
  box-shadow: none;}

frame > scrolledwindow {
  margin: 0px; }

notebook stack scrolledwindow {
  border-left: 1px solid @border_shade;
  border-top: 1px solid @border_shade;
  border-right: 1px solid @border_bright;
  border-bottom: 1px solid @border_dark;
  box-shadow: inset 1px 1px white, inset -1px -1px @border_shade;
  margin: 3px; }
