Source: chicago95
Section: misc
Priority: optional
Maintainer: B Stack <bgstack15@gmail.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/grassmunk/Chicago95

Package: chicago95-theme-all
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
   chicago95-theme-cursors,
   chicago95-theme-doc,
   chicago95-theme-fonts,
   chicago95-theme-greeter,
   chicago95-theme-gtk,
   chicago95-theme-icons,
   chicago95-theme-plymouth,
   chicago95-theme-login-sound,
Description: XFCE Windows 95 Total Conversion
 Assets to allow customization of Xfce to look as
 close to Microsoft Windows 95 as possible.

Package: chicago95-theme-cursors
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Mouse cursor themes for Chicago95
 Mouse cursors for the Chicago95 theme suite.

Package: chicago95-theme-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Documentation for Chicago95
 Documentation and readmes for the Chicago95 theme
 suite, including ultimate ricing guides.

Package: chicago95-theme-fonts
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Fonts for Chicago95
 Terminal fonts for the Chicago95 theme suite.
 Overall system fonts are proprietary but described
 in the documentation for the theme.

Package: chicago95-theme-greeter
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
   lightdm-webkit2-greeter,
Description: Lightdm webkit greeter for Chicago95
 Currently broken because no debian derivative yet
 packages lightdm-webkit2-greeter.
 WORKHERE https://build.opensuse.org/package/show/home:antergos/lightdm-webkit2-greeter

Package: chicago95-theme-gtk
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: GTK and WM themes for Chicago95
 Themes for GTK2, GTK3, Metacity, and more, for the
 Chicago95 theme suite.

Package: chicago95-theme-icons
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Icon themes for Chicago95
 Icon themes for Chicago95 theme suite.

Package: chicago95-theme-plymouth
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
   plymouth
Description: Plymouth theme for Chicago95
 Currently broken because Devuan does not package plymouth.

Package: chicago95-theme-login-sound
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
   sox
Description: Login sound for Chicago95
 XDG autostart and sound file for Chicago95 theme suite.
