/**********
 * Caja *
 **********/

/*Contributor notes:
Please use two space indentions.
Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
Make sure that all changes made here are part of the Caja application.
*/

/* Caja rubberbands */
.caja-desktop-window .rubberband,
.caja-navigation-window .rubberband {
  border: 1px solid @selected_bg_color;
  background: rgba(0,0,50.2,0.5); }

/* This will prevent caja from printing over the desktop wallpaper */
.caja-desktop-window grid scrolledwindow {
  background: none;
  border-color: transparent;
  box-shadow: none; }

/* Caja toolbar */
.caja-navigation-window .primary-toolbar button {
  border-color: transparent;
  box-shadow: none; }
  .caja-navigation-window .primary-toolbar button:hover {
    outline-color: @outline_color;
    border-top-color: @border_bright;
    border-right-color: @border_dark;
    border-left-color: @border_bright;
    border-bottom-color: @border_dark;
    background-color: @button_bg_color;
    box-shadow: inset -1px -1px @border_shade, inset 1px 1px @border_light; }
  .caja-navigation-window .primary-toolbar button:active,
  .caja-navigation-window .primary-toolbar button:checked,
  .caja-navigation-window .primary-toolbar button:disabled:active,
  .caja-navigation-window .primary-toolbar button:disabled:checked {
    border-top-color: @border_dark;
    border-right-color: @border_bright;
    border-left-color: @border_dark;
    border-bottom-color: @border_bright;
    box-shadow: inset 1px 1px @border_shade; }

/* Caja pathbar */
.caja-navigation-window .caja-pathbar button {
  padding-left: 2px;
  padding-right: 2px;
  min-height: 16px;
  min-width: 16px; }
  .caja-pathbar button:checked {
    background-color: @border_bright;
    background-image: linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_color), linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @border_dark);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px; }

/* Caja notebooks */
.caja-navigation-window notebook header tabs tab {
  padding: 0px; }
  .caja-navigation-window notebook header tabs tab box {
    padding: 0px;
    margin-top: -2px;
    margin-bottom: -2px; }
  .caja-navigation-window notebook header tabs tab button {
    background: none;
    border: none;
    box-shadow: none; }
    .caja-navigation-window notebook header tabs tab button image {
      padding: 0px;
      margin-top: -1px;
      margin-bottom: -2px; }

/* Caja statusbar */
.caja-navigation-window statusbar label {
  margin-top: -2px;
  margin-bottom: -2px; }
