/* ===================================================================
 * Nemo file-manager
 * ===================================================================*/

.nemo-window .toolbar .toggle,
.nemo-window .toolbar .image-button {
  border: 1px solid transparent;
  box-shadow: none; }
  .nemo-window .toolbar .toggle:hover,
  .nemo-window .toolbar .image-button:hover {
    border-top: 1px solid @bg_bright;
    border-left: 1px solid @bg_bright;
    border-right: 1px solid @bg_dark;
    border-bottom: 1px solid @bg_dark;
    box-shadow: inset -1px -1px @bg_shade; }
  .nemo-window .toolbar .toggle:active,
  .nemo-window .toolbar .toggle:checked,
  .nemo-window .toolbar .image-button:active,
  .nemo-window .toolbar .image-button:checked {
    border-top: 1px solid @bg_dark;
    border-left: 1px solid @bg_dark;
    border-right: 1px solid @bg_bright;
    border-bottom: 1px solid @bg_bright;
    box-shadow: inset 1px 1px @bg_shade; }
