/******************************************
 * lightdm-gtk-greeter / XFCE screensaver *
 ******************************************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the screensaver.
*/

/* panel */
#panel_window {
  -gtk-icon-style: regular; 
  color: @font_color;
  font-weight: bold;
  border-top-color: @border_bright;
  border-right-color: @border_dark;
  border-left-color: @border_bright;
  border-bottom-color: @border_dark;
  background-color: @button_bg_color;
  box-shadow: inset -1px -1px @border_shade, inset 1px 1px @border_light; }
  #panel_window .menubar,
  #panel_window .menubar > .menuitem {
    background-color: @bg_color;
    color: @font_color; }
    #panel_window .menubar > .menuitem:hover {
      border-style: none;
      background-color: @selected_bg_color;
      color: @font_bright; }
    #panel_window .menubar > .menuitem *:hover {
      border-style: none;
      background-color: @selected_bg_color;
      color: @font_bright; }
    #panel_window .menubar > .menuitem:disabled {
      color: @disabled_font;
      text-shadow: 1px 1px 0 @disabled_font_shadow; }
  #panel_window .menubar .menu .menuitem {
    font-weight: normal;
    text-shadow: none; }

/****************
 * login window *
 ****************/
#content_frame {
  border: 1px solid;
  color: @button_text_color;
  outline-color: @outline_color;
  border-top-color: @border_bright;
  border-right-color: @border_dark;
  border-left-color: @border_bright;
  border-bottom: none;
  background-color: @button_bg_color;
  box-shadow: inset -1px 0px @border_shade, inset 1px 1px @border_light; }

#login_window {
  border: 1px solid;
  color: @button_text_color;
  outline-color: @outline_color;
  border-top: none;
  border-right-color: @border_dark;
  border-left-color: @border_bright;
  border-bottom-color: @border_dark;
  background-color: @button_bg_color;
  box-shadow: inset -1px -1px @border_shade, inset 1px 0px @border_light; }

#user_image {
/* Keeping this blank */ }

#user_image_border {
/* Keeping this blank */ }

#buttonbox_frame {
  padding-top: 10px;
  padding-bottom: 0;
  border-style: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none; }

/********************
 * password warning *
 ********************/
#greeter_infobar {
  margin-left: 4px;
  margin-right: 4px;
  background-color: transparent;
  border: none;
  font-weight: bold; }

#window {
/* Keeping this blank */ }
