/* Whisker Menu Button style */

#whiskermenu-button {
  padding: 2px;
  margin: 2px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #000000;
  box-shadow: inset -1px -1px #808080;
  background-color: #c0c0c0; }

#whiskermenu-button label {
  color: @whisker_button_text;
  font-size: 11px;
  font-weight: bold; }

#whiskermenu-button:active, #whiskermenu-button:checked {
  padding-left: 3px;
  padding-right: 1px;
  margin: 2px;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  box-shadow: inset -1px -1px #c0c0c0,
              inset 1px 1px #808080;
  border-radius: 0px; }

#whiskermenu-window treeview {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;}

#whiskermenu-window button {
  padding: 2px;
  min-height: 16px; }
  #whiskermenu-window button:not(:hover):not(:checked) {
    border-color: transparent;
    box-shadow: none;}
