/* Whisker Menu and Application Menu Panel Button style */

/* We will remove the border effect and margin effects on the button and apply it to the box inside. 
This will allow people to be able to run their pointer to the far corner of the screen and activate 
the whisker menu without having to correct their pointer location. */
#whiskermenu-button,
#applicationmenu-button {
  border: none;
  box-shadow: none;
  margin: 0px;
  background-color: @bg_color; }
  #whiskermenu-button box,
  #applicationmenu-button box {
    padding: 2px;
    margin: 1px;
    border: 2px solid @border_color;
    border-image: url("../buttons/dialog_button_normal.png");
    border-image-slice: 2 2 2 2;
    background-color: @bg_color; }
    #whiskermenu-button:active box,
    #whiskermenu-button:checked box,
    #applicationmenu-button:active box,
    #applicationmenu-button:checked box {
      padding-left: 3px;
      padding-right: 1px;
      margin: 1px;
      border-image: url("../buttons/button_pressed.png");
      border-image-slice: 2 2 2 2;
      border-radius: 0px; }
  #whiskermenu-button image,
  #applicationmenu-button image {
    padding: 0px;
    margin-right: -1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  #whiskermenu-button label,
  #applicationmenu-button label {
    padding: 1px;
    border: none;
    color: black;
    font-family: Helvetica, "Microsoft Sans Serif", Sans, Sans-Serif;
    font-weight: bold; }

/****************
* Whisker Menu **
****************/

#whiskermenu-window {
  box-shadow: inset 23px 0 @whisker_menu_logo; }
  #whiskermenu-window treeview {
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px; }
  #whiskermenu-window button {
    padding: 1px;
    min-height: 16px;
    min-width: 16px; }
    #whiskermenu-window button:not(:hover):not(:checked) {
      border-color: transparent;
      box-shadow: none;
      background-color: transparent; }
  #whiskermenu-window frame border {
    padding: 0px;
    border: none;
    border-image: none;
    box-shadow: none; }
  #whiskermenu-window scrolledwindow {
    border: none;
    box-shadow: none; }
    #whiskermenu-window scrolledwindow.frame {
      padding: 0px;
      border: 2px solid @border_dark;
      border-image: url("../assets/frame_inset.png");
      border-image-slice: 2 2 2 2;
      border-radius: 0px;
      box-shadow: none; }
  #whiskermenu-window scrolledwindow viewport button:hover {
    outline-color: @border_bright; }
  #whiskermenu-window > frame {
    border: 2px solid @border_dark;
    border-image: url("../assets/frame_outset.png");
    border-image-slice: 2 2 2 2;}
    #whiskermenu-window > frame > stack > box > box:first-child {
      padding: 2px;
      margin: 0;
      color: @text_color;
      /*background-image: linear-gradient(to right, @selected_bg_color, @transparent);*/ /* Note: You can setup a gradient here if you want! */ }
  #whiskermenu-window frame {
/* 
   These are the Whisker Menu side bar images to replicate Windows 95.
   comment branding_C95.png and uncomment which one you would prefer to use:
    - w95: Replicated version of the original in a higher resolution
    - w95-orig: the original from the boss
    - L95: A linux version
    - L95_aliased: A linux version with aliased font style.
    - C95: A Chicago95 version of this theme.
    - C95_aliased: A Chicago95 version with aliased font style.
   If none of these catch your fancy edit misc/whisker-sidebar.svg in 
   Inkscape
*/
/*    background-image: url("../assets/branding_W95.png"); */
/*    background-image: url("../assets/branding_W95-orig.png"); */
/*    background-image: url("../assets/branding_L95.png"); */
/*    background-image: url("../assets/branding_L95_aliased.png"); */
/*    background-image: url("../assets/branding_C95.png"); */
    background-image: url("../assets/branding_C95_aliased.png");
    background-repeat: no-repeat;
    background-position: 0% 100%; }
    #whiskermenu-window frame > stack,
    #whiskermenu-window frame > box { /* frame > box is for older versions of Whisker menu. */
      margin-left: 18px; }
    #whiskermenu-window frame scrolledwindow button {
      border: 1px solid transparent;
      background-color: @selected_bg_color;
      box-shadow: none; }
      #whiskermenu-window frame scrolledwindow button:checked {
      background-color: @border_shade; }
      #whiskermenu-window frame scrolledwindow button:hover,
      #whiskermenu-window frame scrolledwindow button:active,
      #whiskermenu-window frame scrolledwindow button:checked {
        color: white; }
    #whiskermenu-window frame > box > box > box button image {
      padding: 0px; }
  #whiskermenu-window entry {
    margin-top: 3px;
    margin-bottom: 3px;
    min-height: 16px; }
  #whiskermenu-window scrollbar button {
    margin: 0px;
    padding: 0px;
    min-width: 16px;
    min-height: 16px;
    border: none;
    box-shadow: none; }
  #whiskermenu-window frame, #whiskermenu-window GtkListBox, #whiskermenu-window scrolledwindow, #whiskermenu-window viewport {
    background-color: transparent; }
