/* Panel plugins */
#pulseaudio-button { 
    padding: 6px 6px; 
}

#xfce4-power-manager-plugin { 
    padding: 6px 6px; 
}

/* File Chooser */
filechooser box paned placessidebar viewport list {
    background-color: white;
}

filechooser box paned placessidebar viewport list box {
    padding: 3px;
}

filechooser box paned placessidebar viewport {
    border: none;
}


filechooser box paned box box stack placesview stack frame scrolledwindow viewport list {
    border: 1px solid;
}

filechooser box paned box revealer box stack box widget button {
padding-top: 1px;
padding-bottom: 1px;
padding-left: 5px;
padding-right: 5px;
}

filechooser box paned box revealer box stack box treeview {
border-left: 2px solid black;
}

filechooser box paned placessidebar viewport list separator {
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
}

filechooser placessidebar viewport list {
    background-color: white;
}

filechooser box paned placessidebar viewport list *:selected,
filechooser box paned placessidebar viewport list *:active,
filechooser box paned placessidebar viewport list *:focus {
    outline: none;
}

filechooser placessidebar viewport separator {
    border-top: 1
}

/* GNOME Disk utility */

.gnome-disk-utility-grid {
background-color: #000080;
padding: 20px;
}

