#XfceNotifyWindow {
  background-color: #ffffe1;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: none;
}

#XfceNotifyWindow:hover {
  border: 1px solid white;
}

#XfceNotifyWindow progressbar trough {
  padding: 2px;
  
}
