/********
 * nemo *
 ********/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the .nemo-window.
*/

.nemo-window {
  -gtk-icon-style: regular; }

.nemo-window toolbar button,
.nemo-window .toggle {
  min-width: 16px;
  min-height: 16px;
  margin-top: 2px;
  margin-bottom: 2px; }
.nemo-window .toolbar .toggle,
.nemo-window .toolbar .image-button {
  border: 1px solid transparent;
  box-shadow: none; }
  .nemo-window .toolbar .toggle:hover,
  .nemo-window .toolbar .image-button:hover {
    border-top: 1px solid @bg_bright;
    border-left: 1px solid @bg_bright;
    border-right: 1px solid @bg_dark;
    border-bottom: 1px solid @bg_dark;
    box-shadow: inset -1px -1px @bg_shade; }
  .nemo-window .toolbar .toggle:active,
  .nemo-window .toolbar .toggle:checked,
  .nemo-window .toolbar .image-button:active,
  .nemo-window .toolbar .image-button:checked {
    border-top: 1px solid @bg_dark;
    border-left: 1px solid @bg_dark;
    border-right: 1px solid @bg_bright;
    border-bottom: 1px solid @bg_bright;
    box-shadow: inset 1px 1px @bg_shade; }
.nemo-window .toggle:checked {
  background-color: @border_bright;
  background-image: linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_color), linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @border_dark);
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px; }

.nemo-window notebook scrolledwindow {
  padding: 0px;
  border-top: 2px solid @border_dark;
  border-bottom: 2px solid @border_dark;
  border-left: 2px solid @border_dark;
  border-right: 2px solid @border_dark;
  border-image: url("../assets/frame_inset.png");
  border-image-slice: 2 2 2 2;
  box-shadow: none; }
.nemo-window header tabs tab {
  padding: 0px; }
  .nemo-window header tabs tab box {
    padding: 0px;
    margin-top: -2px;
    margin-bottom: -2px; }
  .nemo-window header tabs tab button {
    background: none;
    border: none;
    box-shadow: none; }
    .nemo-window header tabs tab button image {
      padding: 0px;
      margin-top: -1px;
      margin-bottom: -2px; }

.nemo-window statusbar {
  margin-right: -9px;
  margin-left: -9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px; }
  .nemo-window statusbar frame box {
    margin-bottom: -3px;
    margin-top: -3px; }
    .nemo-window statusbar frame box label {
      margin-top: -1px;
      margin-bottom: -1px; }

.nemo-window widget.view:selected {
  background-color: shade(@selected_bg_color, 3.0); }
  .thunar widget.view:selected:focus {
    background-color: @selected_bg_color; }
