.thunar statusbar frame {
  padding: 0px;
  margin-top: 2px;
  border-left: 1px solid @bg_shade;
  border-top: 1px solid @bg_shade;
  border-bottom: 1px solid @bg_bright;
  border-right: 1px solid @bg_bright;
  box-shadow: none; }

/*.thunar grid grid scrolledwindow .view { background-color: transparent; }*/

.thunar scrolledwindow {
  padding-top: 0px;
  padding-left: 0px;
  border-right: 1px solid @bg_bright;
  border-top: 1px solid @bg_shade;
  border-left: 1px solid @bg_shade; }

.thunar paned .view:focus {
  outline-color: white; }

.thunar grid grid scrolledwindow {
  padding-left: 1px; }

.thunar notebook tab {
  padding: 0px;
  min-width: 16px;
  min-height: 16px; }

.thunar #location-toolbar button {
  border: 1px solid transparent;
  box-shadow: none; }
  .thunar #location-toolbar button:hover {
    border-left: 1px solid @bg_bright;
    border-top: 1px solid @bg_bright;
    border-bottom: 1px solid @bg_shade;
    border-right: 1px solid @bg_shade;
    box-shadow: none; }
  .thunar #location-toolbar button:active {
    border-left: 1px solid @bg_dark;
    border-top: 1px solid @bg_dark;
    border-bottom: 1px solid @bg_bright;
    border-right: 1px solid @bg_bright;
    box-shadow: inset 1px 1px @bg_shade; }
  .thunar #location-toolbar button:disabled {
    border-left: 1px solid @bg_shade;
    border-top: 1px solid @bg_shade;
    border-bottom: 1px solid @bg_bright;
    border-right: 1px solid @bg_bright; }

.thunar #location-toolbar .path-bar-button {
  border-left: 1px solid @bg_bright;
  border-top: 1px solid @bg_bright;
  border-bottom: 1px solid @bg_shade;
  border-right: 1px solid @bg_shade;
  box-shadow: none; }
  .thunar #location-toolbar .path-bar-button:active,
  .thunar #location-toolbar .path-bar-button:checked {
    border-left: 1px solid @bg_dark;
    border-top: 1px solid @bg_dark;
    border-bottom: 1px solid @bg_bright;
    border-right: 1px solid @bg_bright;
    box-shadow: inset 1px 1px @bg_shade; }

.thunar toolbar toolitem entry image.left {
  margin-right: 4px; }

.thunar #main-menu {
  border-top: 1px solid @bg_shade;
  box-shadow: inset 0px 1px @bg_bright, inset -1px -1px @bg_shade;
  border-bottom: 1px solid @bg_bright;
  border-right: 1px solid @bg_bright; }
  .thunar #main-menu spinner {
    min-width: 8px;
    min-height: 8px;
    /*-gtk-icon-source: none;*/ 
    background: #000000; }
    .thunar #main-menu > menuitem:not(#edit-menu):not(#file-menu):not(#view-menu):not(#go-menu):not(#help-menu) {
      background-color: black;
      border-left: 1px solid @bg_shade;
      box-shadow: inset 1px 0px @bg_bright;
      min-width: 21px;
      min-height: 17px;
      background-image: url("../assets/status_badge_c95.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 21px 17px;
      padding-left: 1.5em;
      padding-right: 1.5em; }

