/* Whisker Menu and Application Menu Panel Button style */

/* FOR GTK3.24 */

/* We will remove the border effect and margin effects on the button and apply it to the box inside. 
This will allow people to be able to run their pointer to the far corner of the screen and activate 
the whisker menu without having to correct their pointer location. */
#whiskermenu-button,
#applicationmenu-button {
  border: none;
  box-shadow: none;
  margin: 0px;
  background-color: transparent; }
  #whiskermenu-button box,
  #applicationmenu-button box {
    padding: 2px;
    margin: 1px;
    border: 2px solid @border_color;
    border-image: url("../buttons/dialog_button_normal.png");
    border-image-slice: 2 2 2 2;
    background-color: @bg_color; }
    #whiskermenu-button:active box,
    #whiskermenu-button:checked box,
    #applicationmenu-button:active box,
    #applicationmenu-button:checked box {
      padding-left: 3px;
      padding-right: 1px;
      margin: 1px;
      border-image: url("../buttons/button_pressed.png");
      border-image-slice: 2 2 2 2;
      border-radius: 0px; }
  #whiskermenu-button image,
  #applicationmenu-button image {
    padding: 1px;
    margin-right: -2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  #whiskermenu-button label,
  #applicationmenu-button label {
    padding: 1px;
    border: none;
    color: black;
    font-family: "MS Sans Serif Bold", Sans, Sans-Serif;
    font-weight: bold; }

/****************
* Whisker Menu **
****************/

#whiskermenu-window {
  box-shadow: inset 23px 0 @whisker_menu_logo; }
  #whiskermenu-window > frame {
    border: 2px solid @border_dark;
    border-image: url("../assets/frame_outset.png");
    border-image-slice: 2 2 2 2;}
#whiskermenu-window treeview {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px; }
  #whiskermenu-window button {
    padding: 2px;
    min-height: 16px; }
    #whiskermenu-window button:not(:hover):not(:checked) {
      border-color: transparent;
      box-shadow: none;
      background-color: transparent; }
#whiskermenu-window scrolledwindow viewport button:hover {
  outline-color: @border_bright; }
#whiskermenu-window separator {
  margin: 5px; }
#whiskermenu-window frame {
/* 
   These are the Whisker Menu side bar images to replicate Windows 95.
   comment branding_C95.png and uncomment which one you would prefer to use:
    - w95-orig: the original from the boss
    - w95: Replicated version of the original in a higher resolution
    - l95: A linux version
    - C95: Branded version of this theme
   If none of these catch your fancy edit misc/whisker-sidebar.svg in 
   Inkscape
*/
/*  background-image: url("../assets/branding_W95.png"); */
/*  background-image: url("../assets/branding_W95-orig.png"); */
/*  background-image: url("../assets/branding_L95.png"); */
/*  background-image: url("../assets/branding_L95_aliased.png"); */
/*  background-image: url("../assets/branding_C95.png"); */
  background-image: url("../assets/branding_C95_aliased.png");
  background-repeat: no-repeat;
  background-position: 0% 100%; }
#whiskermenu-window frame > stack {
margin-left: 18px; }
  #whiskermenu-window frame > stack > box > stack > box > scrolledwindow {
    padding: 5px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid @border_shade;
    box-shadow: inset 1px 0px @border_bright; }
    #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button {
      border: 1px solid transparent;
      background-color: @selected_bg_color;
      box-shadow: none; }
      #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:checked {
      background-color: @border_shade; }
      #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:hover,
      #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:active,
      #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:checked {
        color: white; }
  #whiskermenu-window > frame > stack > box > box:first-child {
    padding: 2px;
    margin: 0;
    color: @text_color;
    /*background-image: linear-gradient(to right, @selected_bg_color, @transparent);*/ /* Note: You can setup a gradient here if you want! */ }
#whiskermenu-window frame > box > box > box button image {
  padding: 0px; }
#whiskermenu-window entry {
  margin-top: 3px;
  margin-bottom: 3px;
  min-height: 16px; }
#whiskermenu-window frame, #whiskermenu-window GtkListBox, #whiskermenu-window scrolledwindow, #whiskermenu-window viewport {
  background-color: transparent; }
#whiskermenu-window scrollbar button {
  margin: 0px;
  padding: 0px;
  min-width: 16px;
  min-height: 16px;
  border: none;
  box-shadow: none; }
#whiskermenu-window stack > scrolledwindow {
  border-left: 1px solid @border_dark;
  border-right: 1px solid @border_bright;
  border-top: 1px solid @border_dark;
  border-bottom: 1px solid @border_bright;
  box-shadow: inset -1px -1px @border_color, inset 1px 1px @border_shade;
  background: @base_color;
  padding: 1px; }
