/* Whisker Menu and Application Menu Panel Button style */

/* FOR GTK3.24 */

/* We will remove the border effect and margin effects on the button and apply it to the box inside. 
This will allow people to be able to run their pointer to the far corner of the screen and activate 
the whisker menu without having to correct their pointer location. */
#whiskermenu-button,
#applicationmenu-button {
  border: none;
  box-shadow: none;
  margin: 0px;
  background-color: transparent; }
  #whiskermenu-button box,
  #applicationmenu-button box {
    padding: 2px;
    margin: 1px;
    border-top: 1px solid @bg_bright;
    border-bottom: 1px solid @bg_dark;
    border-left: 1px solid @bg_bright;
    border-right: 1px solid @bg_dark;
    box-shadow: inset -1px -1px @bg_shade;
    background-color: @bg_color; }
    #whiskermenu-button:active box,
    #whiskermenu-button:checked box,
    #applicationmenu-button:active box,
    #applicationmenu-button:checked box {
      padding-left: 3px;
      padding-right: 1px;
      margin: 1px;
      border-bottom: 1px solid @bg_bright;
      border-right: 1px solid @bg_bright;
      border-top: 1px solid @bg_dark;
      border-left: 1px solid @bg_dark;
      box-shadow: inset -1px -1px @bg_color, inset 1px 1px @bg_shade;
      border-radius: 0px; }
  #whiskermenu-button image,
  #applicationmenu-button image {
    padding: 1px;
    margin-right: -2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  #whiskermenu-button label,
  #applicationmenu-button label {
    padding: 1px;
    border: none;
    color: black;
    font-family: "MS Sans Serif Bold", Sans, Sans-Serif;
    font-weight: bold; }

/****************
* Whisker Menu **
****************/

#whiskermenu-window treeview {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px; }
  #whiskermenu-window button {
    padding: 2px;
    min-height: 16px; }
    #whiskermenu-window button:not(:hover):not(:checked) {
      border-color: transparent;
      box-shadow: none;
      background-color: transparent; }
#whiskermenu-window separator {
  margin: 5px; }
#whiskermenu-window scrolledwindow {
  border: 1px solid @bg_shade;
  box-shadow: none;
  padding: 0px; }
#whiskermenu-window frame > stack > box > stack > box > scrolledwindow {
  padding: 5px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid @bg_shade;
  box-shadow: inset 1px 0px @bg_bright; }
  #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button {
    border: 1px solid transparent;
    background-color: @selected_bg_color;
    box-shadow: none; }
    #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:checked {
    background-color: @bg_shade; }
    #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:hover,
    #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:active,
    #whiskermenu-window frame > stack > box > stack > box > scrolledwindow button:checked {
      color: white; }
#whiskermenu-window > frame > stack > box > box:first-child {
  padding: 2px;
  margin: 0;
  color: @text_color;
  /*background-image: linear-gradient(to right, @selected_bg_color, @transparent);*/ /* Note: You can setup a gradient here if you want! */ }
#whiskermenu-window frame > box > box > box button image {
  padding: 0px; }
#whiskermenu-window entry {
  margin-top: 3px;
  margin-bottom: 3px;
  min-height: 16px;
  border: 1px solid @bg_shade;
  box-shadow: none; }
#whiskermenu-window frame, #whiskermenu-window GtkListBox, #whiskermenu-window scrolledwindow, #whiskermenu-window viewport {
  background-color: transparent; }
#whiskermenu-window scrollbar button {
  margin: 0px;
  padding: 0px;
  min-width: 16px;
  min-height: 16px;
  border: none;
  box-shadow: none; }
