/* Force MATE panel tasklist margins */
#tasklist-button {
  margin-left: 2px;
  margin-right: 2px; }

/* GNOME Disk utility */
/* This is a fix for the GNOME disk application grid style. */ 

.gnome-disk-utility-grid {
  background-color: @bg_shade;
  color: @font_bright;
  border-radius: 0px;
  outline-color: white; }
  .gnome-disk-utility-grid:backdrop {
    background-color: @bg_shade; }

/* XFCE APP: Color Profiles */
.color-profiles {
  background-color: #c0c0c0; }

/* Thunar borders */
.thunar .sidebar {
  border-right: 1px solid @bg_bright; }
  
.thunar notebook .standard-view {
  padding: 0px;
  border-left: 2px solid @border_color;
  border-right: 2px solid @border_color; }
